<div class="feat_box">

    <div class="row">


        {{#each items}}

        {{#iff ../items.length '<' 3}}

        <div class="col-md-6">
            <div class="thumb">
                <img src="{{image_src}}" alt="{{alt}}">
            </div>

            <div class="txt">
                <h4>{{header}}</h4>

                <p>{{text}}</p>
                {{#if link_href}}{{#if link_title}}
                <a href="{{link_href}}" class="more">{{link_title}}</a>
                {{/if}}{{/if}}
            </div>
        </div>
        {{/iff}}
        {{#iff ../items.length '==' 3}}
        <div class="col-md-4">
            <div class="thumb">
                <img src="{{image_src}}" alt="{{alt}}">
            </div>

            <div class="txt">
                <h4>{{header}}</h4>

                <p>{{text}}</p>
                {{#if link_href}}{{#if link_title}}
                <a href="{{link_href}}" class="more">{{link_title}}</a>
                {{/if}}{{/if}}
            </div>
        </div>
        {{/iff}}
        {{#iff ../items.length '==' 4}}
        <div class="col-md-3">
            <div class="thumb">
                <img src="{{image_src}}" alt="{{alt}}">
            </div>

            <div class="txt">
                <h4>{{header}}</h4>

                <p>{{text}}</p>
                {{#if link_href}}{{#if link_title}}
                <a href="{{link_href}}" class="more">{{link_title}}</a>
                {{/if}}{{/if}}
            </div>
        </div>
        {{/iff}}


        {{/each}}
    </div>

</div><!--.feat_box-->
<style>
    .feat_box,
    .frames_box {
        overflow: hidden;
        max-width: 1170px;
        margin: 0 auto;
    }
    /*.feat_box__item {*/
        /*float: left;*/
        /*width: 22.7%;*/
        /*margin: 0 3% 50px 0;*/
    /*}*/
    /*.feat_box__item:last-child {*/
        /*margin-right: 0;*/
    /*}*/
    .feat_box .thumb {
        position: relative;
    }
    .feat_box .thumb:after {
        content: ' ';
        position: absolute;
        left: 15px;
        bottom: 0;
        display: block;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: #fff;
    }
    .feat_box .thumb img {
        display: block;
        width: 100%;
        height: auto;
    }
    .feat_box .txt {
        padding: 20px 15px;
    }
    .feat_box .txt h4 {
        margin: 0 0 20px 0;
        font: normal 28px/110% "renault_liferegular", Arial;
        color: #000;
    }
    .feat_box .txt p {
        margin: 0 0 30px 0;
        font: normal 16px/140% "renault_liferegular", Arial;
        color: #000;
    }
    .feat_box .txt .more {
        padding: 0 20px 0 0;
        background: url(/img/ico-feat_more.png) right center no-repeat;
        font: normal 14px/130% "renault_lifebold", Arial;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
    }
    .feat_box .txt .more:hover {
        color: #666;
        text-decoration: underline;
    }
    @media (max-width: 960px) {
        .feat_box {
            margin-right: 20px;
            margin-left: 20px;
        }
        .feat_box {
            width: 47.5%;
            margin-right: 5%;
        }
        .feat_box:nth-child(2n) {
            margin-right: 0;
        }
        .feat_box:last-child {
            margin-right: auto;
        }
    }
    @media (max-width: 560px) {
        .feat_box {
            width: 100%;
            margin-right: 0;
        }
    }
</style>