<div class="brch_box">
    <div class="brch_box__head">
        <p>{{header_p}}</p>

        <h2>{{header_2}}</h2>
    </div>
    <!--.brch_box__head-->
</div>


<div class="files">
    <div class="brch_box__list">
        {{#each items}}
        <div class="brch_box__item">
            <div class="icon"><a href="{{link_href}}"><img src="{{image_src}}" alt="{{alt}}"/></a></div>
            <div class="txt">
                {{#if link_href}}
                {{#if link_title}}
                > <a href="{{link_href}}">{{link_title}}</a>
                {{/if}}
                {{/if}}
            </div>
        </div><!--.brch_box__item-->
        {{/each}}
    </div><!--.brch_box__list-->
</div><!--.brch_box-->
