<div class="contacts-map">
    <div id="map"></div>

    <div class="contacts-box">
        <section><img src="{{img_src}}"></section>
        <section>
            <div class="adress">
                <span class="contact-item">{{address}}</span>
            </div>
            <div class="phones">
                <span class="contact-item">{{phone1}}</span>
                <span class="contact-item">{{phone2}}</span>
            </div>
            <div class="mail">
                <a href="mailto:{{email}}" class="contact-item">{{email}}</a>
            </div>
        </section>
        <div class="clearfix">
        </div>
    </div>

</div>