<div class="grid-row">
    <div class="col-12">
        <div class="c_056 " data-accordioninitialised="true">
            <div class="pageHeader">
                <div class="c_023 ">
                    <div class="container-inner">
                        <div class="c_023-1 default">
                            <div class="heading-group">
                                <h1><span>{{book_a_test_drive}}</span></h1>
                            </div>
                            <p class="content-copy">{{experience_renault_for_yourself}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form">
                <form id="batd" class="accordion" method="post" autocomplete="off" action="javascript:void(0);">
                    <input aria-invalid="false" value="utf-8" name="_charset_" id="_charset_" type="hidden">

                    <div class="process-header">
                        <h2 class="process-heading">
                            {{i_d_like_to_book_a_test_drive}}
                        </h2>

                        <p class="process-instructions">
                            {{please_select}}
                        </p>
                    </div>
                    <div class="accordion-group">
                        <h2 class="accordion-header select-vehicle-header" data-state="closed" tabindex="0">
                            <span>{{category_title}}</span>
                        </h2>

                        <div class="accordion-panel select-vehicle-content" data-state="open" style="">
                            <ul class="vehicle-categories">
                                <li class="vehicle-category">
                                    <h3 class="vehicle-category-name">{{subcategory_title}}</h3>
                                    <ul class="vehicles-in-category">
                                        {{#each items}}
                                        <li class="vehicle-in-category">
                                            <label>
                                                <input class="vehicle-in-category-radio-button selectedVehicle"
                                                       name="selectedVehicle"
                                                       type="radio" title="ALL-NEW TWINGO"
                                                       value="ALL-NEW TWINGO|/content/renault/en_GB/cars/all-new-twingo"
                                                        >
                                                <span class="vehicle-in-category-wrapper">
                                                    <span class="c_029-1">
                                                        <span class="picture-element" data-alt="">
                                                            <img alt="&nbsp;&nbsp;&nbsp;NO PREVIEW AVAILABLE&nbsp;&nbsp;&nbsp;"
                                                                 src="{{img_src}}">
                                                        </span>
                                                    </span>
                                                    <span class="vehicle-in-category-name">
                                                        <span class="vehicle-in-category-name-inner">{{title}}</span>
                                                    </span>
                                                </span>
                                            </label>
                                        </li>
                                        {{/each}}

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <h2 class="accordion-header select-dealer-header" data-state="closed">
                            <span>{{find_a_dealer}}</span></h2>

                        <div class="accordion-panel select-dealer-content" data-state="closed">
                            <br>

                            <div class="c_040 batd fad-simple-detail is-initialized"
                                 data-dealer-search-url="/content/renault/en_GB/index/book-a-test-drive/jcr:content/form.dealers_by_location.json"
                                 data-dealer-detail-url="/content/renault/en_GB/index/book-a-test-drive/jcr:content/form.dealer.json"
                                 data-dealer-search-basic-url="/content/renault/en_GB/index/book-a-test-drive/jcr:content/form.basic_dealers_by_location.json">
                                <div class="c_040-form">
                                    <div class="grid-row bleed">
                                        <div class="col-12">
                                            <fieldset>
                                                <div class="c_152-0">
                                                    <span class="location-fields">
                                                        <input type="text" title="Enter your location"
                                                               id="test-drive-form-map-input-search"
                                                               placeholder="{{placeholder}}"
                                                               class="location-input" name="location"
                                                               data-no-results-text="No results - please contact customers services at Renault"
                                                               autocomplete="on">
                                                        <input type="hidden" name="page" value="1">
                                                        <input type="hidden" name="size" value="6">
                                                        <input type="hidden" name="filter" value="BOOK_A_TEST_DRIVE">
                                                        <input aria-invalid="false" value="utf-8" name="_charset_"
                                                               id="_charset_" type="hidden">
                                                        <button type="submit" class="btn-search">Search button</button>
                                                        <!--<button type="button" class="btn-geolocate" data-text="Current Location">
                                                            Current Location
                                                        </button>-->
                                                        <span class="autocomplete-suggestions">
                                                        </span>
                                                    </span>
                                                    <input type="hidden" name="latlong" class="location-value"
                                                           disabled="" value="">
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <p class="no-dealers-msg">No results - please contact customers services at
                                        Renault</p>

                                    <div class="location-results">
                                        <div class="grid-row bleed">
                                            <div class="col-12">
                                                <div class="results-text"></div>
                                            </div>
                                        </div>
                                        <div class="view-map is-active" tabindex="-1">
                                            <!-- START C_022 -->
                                            <div class="map-wrapper">
                                                <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script-->
                                                <!--script src="https://maps.gstatic.com/maps-api-v3/api/js/21/6/intl/uk_ALL/main.js"></script-->

                                                <div class="columns12 columns column section">
                                                    <div class="grid-row">
                                                        <div class="col-4">
                                                            <div class="mapitembox">
                                                                <h4></h4>
                                                                <h5>{{contact_info}}</h5>

                                                            </div>
                                                            <!--.mapitembox-->
                                                        </div>
                                                        <div class="col-8">
                                                            <div class="mapresult" id="mapresult"
                                                                 style="width: 100%; height: 495px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END C_022 -->

                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="item-actions-last" id="test-drive-form-select-this-dealer-button"
                                 style="display:none;">
                                <button type="button" class="btn-fad btn-select">{{select_this_dealer}}</button>
                            </div>
                            <!-- END: C.40 variation -->
                        </div>
                    </div>
                    <div class="accordion-group">
                        <h2 class="accordion-header select-date-time-header" data-state="closed">
                            <span>{{select_date_and_time}}</span>
                        </h2>

                        <div class="accordion-panel select-date-time-content" data-state="closed" style="display:none;">
                            <div class="appointment appointmentInitialized" data-appointment-date="2015-07-08"
                                 data-appointment-time="14:00">
                                <div class="datetime">
                                    <div class="date" data-date-format="DD dd MM yy">
                                        <p>{{Select_date}}</p>

                                        <div id="test-drive-form-datepcker"></div>
                                    </div>
                                    <div class="time" data-opening-time-monday="09:00" data-closing-time-monday="17:00"
                                         data-opening-time-tuesday="09:00" data-closing-time-tuesday="17:00"
                                         data-opening-time-wednesday="09:00" data-closing-time-wednesday="17:00"
                                         data-opening-time-thursday="09:00" data-closing-time-thursday="17:00"
                                         data-opening-time-friday="09:00" data-closing-time-friday="17:00"
                                         data-opening-time-saturday="09:00" data-closing-time-saturday="17:00"
                                         data-opening-time-sunday="09:00" data-closing-time-sunday="17:00">
                                        <p>{{select_time}}</p>
                                        <ul class="slots">

                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">09:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">10:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">11:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">12:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">13:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available selected">14:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">15:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">16:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">17:00</time>
                                                </button>
                                            </li>


                                        </ul>
                                        <div class="form-group">
                                            <label for="appointmentTime">Time slot</label>
                                            <input id="appointmentTime" type="time" name="appointmentTime"
                                                   data-validation-notblank="Time cannot be blank"
                                                   data-validation-invalid="Time format is invalid"
                                                   data-validation-invalid-pattern="time">

                                            <p class="hint">Please use HH:MM format</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="confirm-selection">
                                    <p class="optional-confirmation"></p>
                                    <button class="cta" type="button">{{change_this_datetime}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <h2 class="accordion-header select-customer-details-header" data-state="closed"><span>{{your_contact_info}}</span>
                        </h2>

                        <div class="accordion-panel select-customer-details-content" data-state="closed"
                             style="display:none;">
                            <br>

                            <div class="customer-details-content">
                                <div class="grid-row">
                                    <!--div class="formBuilderHeader header">
                                        <h2 class="title">ваша контктна інформація</h2>
                                    </div-->
                                    <div class="c_019">
                                        <div class="contacts_page">
                                            <div class="left">
                                                <div class="inp-group">
                                                    <label for="#">{{accost}}</label>
                                                    <select name="#" id="#" class="inp-decorate">
                                                        <option value="#">{{Mr}}</option>
                                                        <option value="#">{{Ms}}</option>
                                                    </select>
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group">
                                                    <label for="#">{{name}} *</label>
                                                    <input type="text" name="firstname" class="inp-style name">
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group">
                                                    <label for="#">{{E_Mail}} *</label>
                                                    <input type="text" name="email" class="inp-style email">
                                                </div>

                                            </div>
                                            <!--.left-->
                                            <div class="right">
                                                <div class="inp-group">
                                                    <label for="#">{{surname}} *</label>
                                                    <input type="text" name="lastname" class="inp-style name">
                                                    <!--div class="inp-error">* Поле обов’язкове для заповнення</div-->
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group">
                                                    <label for="#">{{patronymic}} *</label>
                                                    <input type="text" name="secondname" class="inp-style name">
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group">
                                                    <label for="#">{{phone}} *</label>
                                                    <input id="phone" type="text" name="phone"
                                                           class="inp-style phone_ua">
                                                </div>
                                                <!--.inp-group-->

                                            </div>
                                            <!--.right-->
                                            <div class="bt cf">

                                                <!--.inp-group-->
                                                <div class="inp-group-min">
                                                    <label for="#"><input id="check_news" type="checkbox"
                                                                          name="check_news"
                                                                          class="inp-decorate">{{Subscribe_to_news}}
                                                    </label>

                                                </div>
                                                <div class="inp-group-min hidden padding10" id="phone_subscr">
                                                    <label for="#"><input type="checkbox" name="phone_subscr"
                                                                          class="inp-decorate" checked>{{subscribe_sms}}
                                                    </label>

                                                </div>
                                                <div class="inp-group-min hidden padding10" id="email_subscr">
                                                    <label for="#"><input type="checkbox" name="email_subscr"
                                                                          class="inp-decorate" checked>{{subscribe_email}}
                                                    </label>

                                                </div>
                                                <!--.inp-group-min-->
                                                <div class="inp-group-min">
                                                    <label for="#"><input type="checkbox" name="check_data"
                                                                          class="inp-decorate" required>{{{consent}}}
                                                        *</label>
                                                </div>
                                                <!--.inp-group-min-->
                                                <!--div class="inp-submit">
                                                    <input type="submit" value="Відправити" class="orange-submit">
                                                </div-->
                                            </div>
                                            <!--.bt-->
                                        </div>
                                        <!--.contacts_page-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="downPayment" value="">
                    <input type="hidden" name="duration" value="">
                    <input type="hidden" name="netCreditFinanced" value="">
                    <input type="hidden" name="interestRate" value="">
                    <input type="hidden" name="monthlyPayment" value="">
                    <input type="hidden" name="price" value="">
                    <input type="hidden" name="processingFees" value="">

                    <div class="submit-form">
                        <button class="submit-form-button btn-disabled " id="test-drive-form-submit" type="button">
                            {{book_a_test_drive}}
                        </button>
                    </div>
                </form>
            </div>
            <div class="contactUs">
            </div>
        </div>
    </div>
</div>

<script>
    // Style input+select
    if ($('.inp-decorate').length) {
        $('.inp-decorate').styler();
    }


    $('#test-drive-form-submit').click(function () {
        window.testDriveData['punkt[1]'] = $('.customer-details-content input[name="firstname"]').val();
        window.testDriveData['punkt[2]'] = $('.customer-details-content input[name="secondname"]').val();
        window.testDriveData['punkt[3]'] = $('.customer-details-content input[name="lastname"]').val();
        window.testDriveData['punkt[6]'] = $('.customer-details-content input[name="email"]').val();
        window.testDriveData['punkt[7]'] = $('.customer-details-content input[name="phone"]').val();


        window.testDriveData['punkt[10]'] = 'yes';
        window.testDriveData['punkt[11]'] = 'true';

        //must return to http://dealers.renault.ua/ru/site/test_drive  
        //selected_id=49&punkt[5]=Master&field-lastname=1&punkt[1]=test&field-firstname=2&punkt[2]=test&field-secondname=3&punkt[3]=fsdfsd&
        //massive=Array&punkt[4]=02.07.1998&field-email=6&punkt[6]=sdfsd@dfsdf.com&
        //field-phone=7&punkt[7]=+38(111)+111-11-11&punkt[8]=18.07.2015&
        //punkt[9]=9:00-10:00&punkt[10]=yes&punkt[11]=true&submit-val=0
        /*var data = {
         'selected_id': '49', //dealer
         'punkt[5]': 'Master', //Модель*

         'punkt[1]': 'Имя2',
         'punkt[2]': 'Отчество2',
         'punkt[3]': 'Фамилия2',
         'punkt[4]': '02.07.1998',
         'punkt[6]': 'sdfsd@dfsdf.com',
         'punkt[7]': '+38(096)+111-11-11',

         'punkt[8]': '18.07.2015', //Желаемая дата тест-драйва
         'punkt[9]': '9:00-10:00', //Желаемое время тест-драйва
         'punkt[10]': 'yes', //Даю своё согласие на обработку указанных мной выше персональных данных*
         'punkt[11]': 'true', //Я хочу получать информацию от Renault            

         };*/

        app.logger.var(window.testDriveData);

        preloadFadeIn();

        $.post('http://dealers.renault.ua/ru/site/test_drive', window.testDriveData, function (resp) {
            app.logger.var(resp);
            if (resp.match(/thankyou/)) {
                app.changePageAjax(app.view.helper.preffix + '/book-a-test-drive-confirmation');
            }
            else {
                alert('Error');
                preloadFadeOut();
            }
        });


    });

    //Модель  
    $('.vehicle-in-category-wrapper').click(function () {
        var model = $(this).find('.vehicle-in-category-name-inner').html();
        window.testDriveData['punkt[5]'] = model;

        $('.form .select-vehicle-header').html(model);
        $('.form .select-vehicle-content').slideUp();
        $('.form .select-dealer-content').slideDown();

        $('.accordion-panel').not('.form .select-dealer-content').attr('data-state', 'closed');
        $('.form .select-dealer-content').attr('data-state', 'open');
        $('.accordion-header').not('.form .select-dealer-header').attr('data-state', 'closed');
        $('.form .select-dealer-header').attr('data-state', 'open');

        setTimeout(function () {
            $('html, body').animate({scrollTop: $('.select-dealer-header').offset().top - 50});
        }, 500);

    });

    $('.form .select-vehicle-header').click(function () {
        $('.form .select-vehicle-content').slideDown();

        $('.form .select-vehicle-content').attr('data-state', 'open');
        $('.form .select-vehicle-header').attr('data-state', 'open');
    });

    //Желаемая дата тест-драйва$('.selector').datepicker({ defaultDate: +7 });
    $('#test-drive-form-datepcker').datepicker({
                firstDay: 1,
                defaultDate: +1,
                minDate: new Date((new Date()).valueOf() + 1000 * 3600 * 24),

                onSelect: function () {
                    var day1 = $('#test-drive-form-datepcker').datepicker('getDate').getDate();
                    var month1 = $('#test-drive-form-datepcker').datepicker('getDate').getMonth() + 1;
                    var year1 = $('#test-drive-form-datepcker').datepicker('getDate').getFullYear();
                    if (month1 < 10) {
                        month1 = '0' + month1;
                    }
                    var fullDate = day1 + "." + month1 + "." + year1;
                    window.testDriveData['punkt[8]'] = fullDate;
                }
            },
            $.datepicker.regional['ru'] = {
                clearText: 'удалить', clearStatus: '',
                closeText: 'Закрыть', closeStatus: 'Fermer sans modifier',
                prevText: 'пред', prevStatus: 'Voir le mois précédent',
                nextText: 'след', nextStatus: 'Voir le mois suivant',
                currentText: 'Courant', currentStatus: 'Voir le mois courant',
                monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Мая', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн',
                    'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                monthStatus: 'Voir un autre mois', yearStatus: 'Voir un autre année',
                weekHeader: 'Sm', weekStatus: '',
                dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
                dayNamesShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                dayStatus: 'Utiliser DD comme premier jour de la semaine', dateStatus: 'Choisir le DD, MM d',
                dateFormat: 'dd/mm/yy', firstDay: 1,
                initStatus: 'Выберите дату', isRTL: false
            },
            $.datepicker.regional['uk'] = {
                clearText: 'видалити', clearStatus: '',
                closeText: 'Закрити', closeStatus: 'Fermer sans modifier',
                prevText: 'назад', prevStatus: 'Voir le mois précédent',
                nextText: 'вперед', nextStatus: 'Voir le mois suivant',
                currentText: 'Courant', currentStatus: 'Voir le mois courant',
                monthNames: ['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'],
                monthNamesShort: ['Січ', 'Лют', 'Бер', 'Кві', 'Тра', 'Чер',
                    'Лип', 'Серп', 'Вер', 'Жов', 'Лист', 'Гру'],
                monthStatus: 'Voir un autre mois', yearStatus: 'Voir un autre année',
                weekHeader: 'Sm', weekStatus: '',
                dayNames: ['Неділя', 'Понеділок', 'Вівторок', 'Середа', 'Четвер', 'П`ятниця', 'Суббота'],
                dayNamesShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                dayStatus: 'Utiliser DD comme premier jour de la semaine', dateStatus: 'Choisir le DD, MM d',
                dateFormat: 'dd/mm/yy', firstDay: 1,
                initStatus: 'Вибрати дату', isRTL: false
            },
            $.datepicker.setDefaults($.datepicker.regional[window.app.router.locale])
    );

    //Желаемое время тест-драйва
    $('.datetime .slots button').click(function () {
        $('.datetime .slots button').find('time').removeClass('selected');
        $(this).find('time').addClass('selected');

        window.testDriveData['punkt[9]'] = $(this).find('time').html();
    });

    $('.form .confirm-selection button').click(function () {
        var dateTime = window.testDriveData['punkt[8]'] + '   ' + window.testDriveData['punkt[9]'];
        $('.select-date-time-header').html(dateTime);
    });

    $('.select-date-time-content .confirm-selection button').click(function () {
        $('.form .select-date-time-content').slideUp();

        $('.form .select-customer-details-content').slideDown();
        $('#test-drive-form-submit').removeAttr('disabled');
//        $('#test-drive-form-submit').removeClass('btn-disabled');


        $('.accordion-panel').not('.form .select-customer-details-content').attr('data-state', 'closed');
        $('.form .select-customer-details-content').attr('data-state', 'open');
        $('.accordion-header').not('.form .select-customer-details-header').attr('data-state', 'closed');
        $('.form .select-customer-details-header').attr('data-state', 'open');
    });

    $('.select-dealer-header').click(function () {

        if (!$.isEmptyObject(window.testDriveData['punkt[5]'])) {
            $('.select-dealer-content').slideDown();


            $('.accordion-panel').not('.form .select-dealer-content').attr('data-state', 'closed');
            $('.form .select-dealer-content').attr('data-state', 'open');
            $('.accordion-header').not('.form .select-dealer-header').attr('data-state', 'closed');
            $('.form .select-dealer-header').attr('data-state', 'open');
        }
    });

    $('.select-date-time-header').click(function () {
        if (!$.isEmptyObject(window.testDriveData['selected_id'])) {

            $('.select-date-time-content').slideDown();

            $('.accordion-panel').not('.form .select-date-time-content').attr('data-state', 'closed');
            $('.form .select-date-time-content').attr('data-state', 'open');
            $('.accordion-header').not('.form .select-date-time-header').attr('data-state', 'closed');
            $('.form .select-date-time-header').attr('data-state', 'open');
        }
    });
    $('.selectedVehicle').click(function () {
        $('#test-drive-form-submit').addClass('btn-disabled');

    });

    var form = $("#batd");
    form.validate({
        errorClass: "input-error"
        //validClass: "inp-error"


    });
    //
    $(form).bind('change keyup', function () {
        if (!$(this).validate().checkForm()) {
            $('#test-drive-form-submit').addClass('btn-disabled').attr('disabled', true);

        } else {
            $('#test-drive-form-submit').removeClass('btn-disabled').attr('disabled', false);

        }
    });
    $.validator.setDefaults({
        debug: true,
        success: "valid"

    });
    $.validator.addClassRules(
            "name", {
                required: true

            },
            "email", {
                required: true,
                email: true
            },

            "phone_ua", {
                required: true

            },
            "selectedVehicle", {
                required: true
            }
    );

    $.validator.addMethod("phone_ua", function (phone_number, element) {
        phone_number = phone_number.replace(/\(|\)|\s+|-/g, "");

        return this.optional(element) || phone_number.length == 13 &&
                phone_number.match(/(?:\w)(?:(?:(?:(?:\+?3)?8\({0,5})?0\W{0,5})?[34569]\s?\d[^\w,;(\+]{0,5})?\d\W{0,5}\d\W{0,5}\d\W{0,5}\d\W{0,5}\d\W{0,5}\d\W{0,5}\d(?!(\W?\d))/);
    });

    $("#phone").mask("+38(099)999-99-99");
    var checkbox = $('#check_news');
    var phone_subscr = $('#phone_subscr');
    var email_subscr = $('#email_subscr');
    checkbox.change(function (event) {
        var checkbox = event.target;

        if (checkbox.checked) {

            phone_subscr.removeClass('hidden');
            email_subscr.removeClass('hidden');

        } else {
            phone_subscr.addClass('hidden');
            email_subscr.addClass('hidden');
        }
    });

    //    "phone_subscr""email_subscr"


</script>
<style>
    .padding10 {
        padding-left: 10px;
    }

    .input-error {
        padding-top: 10px;
        color: red;
    }
</style>

