        <div class="container">

		<div class="row">

			<div class="col-md-10 col-md-offset-1">

				<div class="row">

					<div class="col-md-12">
						<div class="txt_y_line">
							<h2>{{title}}</h2>
							<p>{{{text}}}</p>
						</div>
					</div>

				</div><!--.row-->
			
			<div class="type_items">
				<div class="row">
                                    {{#each items}}  
					<div class="col-md-3 col-sm-6">
                                            <div class="type_item wow {{fade}}" data-wow-duration="0.7s" data-wow-delay="0.6s" data-wow-offset="100" style="background: url({{img_src}}) center top no-repeat;">
							<h4>{{title}}</h4>
							<p>{{{text}}}</p>
						</div><!--.type_item-->
					</div>

                                    {{/each}}
					<div class="cf visible-sm"></div>
                                        
				</div><!--.row-->
			</div><!--.type_items-->
                        </div>