{{#if domain_before_body}}
    <p>{{{domain_before_body}}}</p>
{{/if}}
<script>

</script>
<div class="header">
    <ul id="skiplinks" class="skiplinks">
        <li>
            <a href="/#container">{{t.skip_to_main_content}}</a>
        </li>
    </ul>
    <div itemscope="itemscope" itemtype="http://schema.org/WPHeader">
        <header class="c_010 grid-row bleed">
            <div class="col-12">
                <div class="global-nav-container" role="navigation" aria-label="global navigation">
                    <ul class="nav-global grid-row">
                        <li>
                            <a href="{{links.my_renault}}" target="_blank" rel="external">
                                {{t.my_renault}}
                            </a>
                        </li>
                        <li>
                            <a href="http://renault.ua" target="_blank" rel="external">
                                {{t.main_site}}
                            </a>
                        </li>
                        <li class="services dropdown">
                                        	<a href="#">Форми</a>
                                        		<ul>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/zvjazatisja-z-renault-v-ukrajini">Зв'язатись з Renault в Україні</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/contact-form">Зв'язатись з дилером</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/book-a-test-drive">Записатися на тест-драйв</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/service">Запис на сервіс</span></a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/subscribes">Підписатись на новини</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/financing-form">Запит по Renault Finance</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/korporativni-prodazhi-form">Запит з корпоративних продажів</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/anketa-reklamatsiji">Анкета рекламації</a></li>
                                        		</ul>
                                        </li>
{{#if av_locals}}
                        <li class="lang-choose">
                            <ul class="list-unstyled">
                                <li {{#if isUk}} class = "current" {{/if}} style="display:none;"><a
                                        href="#"
                                        class="lang-item" short-lang ="ru" >{{t.rus}}</a></li>
                                <li {{#if isRu}} class = "current" {{/if}} style="display:none;"><a
                                        href="#"
                                        class="lang-item" short-lang ="uk" >{{t.ukr}}</a></li>
                                <style>
                                    li.current{
                                        display: block !important;
                                    }
                                </style>
                            </ul>
                        </li>
                        {{/if}}
                    </ul>
                </div>
                <div class="nav-root upgraded">
                    <div class="title-logo-container grid-row">
                        <a class="show-menu" href="javascript:void(0);">
                            <span class="is-visually-hidden">{{t.menu}}</span>
                        </a>
                        <span class="logo">
                            <a href="{{urlToHome}}"
                               data-adobe-tagging="Homepage" class="ajaxLink">
                                <img class="logo-large"
                                     src="{{urlToFrontend}}/img/renault_english_logo_desktop.png"
                                     alt="Renault Logo"/>
                                <img class="logo-small"
                                     src="{{urlToFrontend}}/img/renault_mobile_logo.png"
                                     alt="Renault Logo"/>
                            </a>
                        </span>
                        <a href="{{urlToHome}}" class="page-title-group">
                          <h1 class="page-title">{{t.renault_in_ukraine}}</h1>
                          <h2 class="page-subtitle">{{t.renault_sub_title}}</h2>
                        </a>
                    </div>
                    <div class="nav-container grid-row">
                        <div class="nav-inner">
                            <button class="close-menu" href="#">
                                <span class="is-visually-hidden">{{t.hide_menu}}</span>
                            </button>
                            <li class="lang-choose mobile visible-mobile">
                                <ul class="list-unstyled">
                                    <li {{#if isUk}} class = "current" {{/if}} style="display:none;"><a
                                            href="#"
                                            class="lang-item" short-lang ="ru" >{{t.rus}}</a></li>
                                    <li {{#if isRu}} class = "current" {{/if}} style="display:none;"><a
                                            href="#"
                                            class="lang-item" short-lang ="uk" >{{t.ukr}}</a></li>
                                    <style>
                                        li.current{
                                            display: block !important;
                                        }
                                    </style>
                                </ul>
                            </li>
                            <style>
                                li.lang-choose.mobile {
                                    float: right;
                                    padding: 18px;
                                }
                            </style>
                            <nav aria-label="main navigation" class="grid-row">
                                <div class="pageNavigation primaryNav">
                                    <ul class=nav-primary itemscope itemtype="http://schema.org/SiteNavigationElement">
                                        <li class="visible-mobile">
                                            <a href="{{urlToHome}}"
                                               class="ajaxLink">{{t.home}}
                                            </a>
                                        </li>

                                        {{#each menu}}
                                        <li>
                                            {{#if submenu}}
                                            <span class="nav-dropdown-toggle link-style">{{title}}</span>
                                            <div class="nav-dropdown">
                                                <ul>
                                                    {{#each submenu}}
                                                    <li><a
                                                            href="{{host}}{{url}}"
                                                            class="dropdown ajaxLink"
                                                            title="{{title}}">{{title}}
                                                        </a>
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                            {{else}}
                                            <a class="dropdown ajaxLink"
                                               href="{{host}}{{url}}"
                                               title="{{title}}">
                                                {{title}}
                                            </a>
                                            {{/if}}
                                        </li>
                                        {{/each}}
                                        <!--<li>-->
                                            <!--<span class="nav-dropdown-toggle link-style">test</span>-->
											<!--<div class="nav-dropdown">-->
												<!--<ul>-->
													<!--<li><a href="">Про компанію Renault</a></li>-->
													<!--<li><a href="">17 причин обрати Renault</a></li>-->
													<!--<li><a href="">Інновації Renault</a></li>-->
												<!--</ul>-->
											<!--</div>-->
                                        <!--</li>-->
                                        

                                    </ul>
                                </div>
                            </nav>
                            <ul class="nav-global-small">
                                <li>
                                    <a href="http://renault.ua" target="_blank" >
                                        {{t.main_site}}
                                    </a>
                                </li>
                                <li class="login">
                                    <a class="not-logged-in-state" href="#" data-adobe-tagging="" class="ajaxLink">
                                        {{t.my_renault}}
                                    </a>
                                    <a class="logged-in-state see-profile" href="#" class="ajaxLink"
                                       data-adobe-tagging="my-account">
                                        <img src="#">
                                        <span></span>
                                    </a>
                                    <a class="logged-in-state logout" data-adobe-tagging="" href="index.html">
                                        {{t.log_out}}
                                    </a>
                                </li>
                                <li>
                                <span class="nav-dropdown-toggle link-style">Формы</span>
                                <div class="nav-dropdown">
                                	<ul>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/zvjazatisja-z-renault-v-ukrajini" class="dropdown ajaxLink">Зв'язатись з Renault в Україні</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/contact-form" class="dropdown ajaxLink">Зв'язатись з дилером</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/book-a-test-drive" class="dropdown ajaxLink">Записатися на тест-драйв</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/service" class="dropdown ajaxLink">Запис на сервіс</span></a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/subscribes" class="dropdown ajaxLink">Підписатись на новини</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/financing-form" class="dropdown ajaxLink">Запит по Renault Finance</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/korporativni-prodazhi-form" class="dropdown ajaxLink">Запит з корпоративних продажів</a></li>
                                        			<li><a href="http://platform.digitalua.com.ua/uk/anketa-reklamatsiji" class="dropdown ajaxLink">Анкета рекламації</a></li>
                                        </ul>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-mask"></div>
            </div>
        </header>
    </div>
</div>

{{#if domain_after_body}}
    <p>{{{domain_after_body}}}</p>
{{/if}}
<script>
    $(document).ready(function(){
        var tm_nav = null;
        $('.show-menu').click(function (e) {
            e.preventDefault();

            $('.nav-container').css({'min-height': $(window).height()});
            clearTimeout(tm_nav);
            $('html, body').addClass('nav-is-activated');
            tm_nav = setTimeout(function () {
                $('.nav-root').addClass('nav-is-open');
            }, 20);
        });
        $('.close-menu').click(function (e) {
            e.preventDefault();
            clearTimeout(tm_nav);
            $('.nav-root').removeClass('nav-is-open');
            tm_nav = setTimeout(function () {
                $('html, body').removeClass('nav-is-activated');
                $('.nav-container').removeAttr('style');
            }, 300);
        });




		$(document).click(function(e){
			$('.nav-dropdown-toggle').parent('li.active').not($(e.target).parent()).removeClass('active');
		});

		$('.nav-dropdown-toggle').click(function(){

			console.log("$('.nav-dropdown-toggle').click()");

			var $this=$(this),
				$parent=$(this).parent('li');

			$parent.toggleClass('active');
		});
		
		
    });
    
    $('li.services').click(function(){
		$(this).toggleClass('expanded');	
		});
</script>
