

<main id="container" role="main">
    <div class="grid-row">
        <div class="col-12">
            <div class="pageHeader">




                <div class="c_023 ">
                    <div class="container-inner">
                        <div class="c_023-1 default">
                            <div class="heading-group">
                                <h1><span>Зв'язатися з Renault в Українi</span></h1>

                            </div>


                            <!-- <p class="content-copy">Get&#x20;in&#x20;touch&#x20;with&#x20;us.</p>-->

                        </div>

                    </div>
                </div>




            </div>

        </div>
    </div>
	
	<div class="map-wrapper">
		<!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script-->
		<!--script src="https://maps.gstatic.com/maps-api-v3/api/js/21/6/intl/uk_ALL/main.js"></script-->

		<div class="columns12 columns column section">
			<div class="grid-row">
				<div class="col-4">
					<div class="mapitembox">
						<h4></h4>
						<h5>{{t.contact_info}}</h5>

					</div>
					<!--.mapitembox-->
				</div>
				<div class="col-8">
					<div class="mapresult" id="mapresult"
						 style="width: 100%; height: 495px;"></div>
				</div>
			</div>
		</div>
	</div>
	
    <div class="freeEditorialParsys parsys freeEditorial"><div class="columns column columns12bleed section">


        <div class="grid-row bleed">

            <div class="col-12">
                <div class="parsys col1-par"><div class="parbase actionPanel section">








                    <div>
                        <div class="grid-row">


                            <div class="contacts_page">

                                <div class="left">

                                    <div class="inp-group">
                                        <label for="#">звертання *</label>
                                        <select name="#" id="#" class="inp-decorate">
                                            <option value="#">Пан</option>
                                            <option value="#">Пані</option>
                                        </select>
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Ім'я *</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">E-Mail *</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                </div><!--.left-->

                                <div class="right">

                                    <div class="inp-group">
                                        <label for="#">Прізвище *</label>
                                        <input type="text" name="#" class="inp-style">
                                        <div class="inp-error">* Поле обов’язкове для заповнення</div>
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">По батькові *</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Мобільний телефон *</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                </div><!--.right-->

                                <div class="bt cf">

                                    <div class="inp-group">
                                        <label for="#">Ваше питання *</label>
                                        <textarea name="#" id="#" class="inp-style"></textarea>
                                    </div><!--.inp-group-->

                                    <div class="inp-group-min">
                                        <label for="#"><input type="checkbox" name="#" class="inp-decorate"> Підписатися на новини Renault</label>
                                    </div><!--.inp-group-min-->

                                    <div class="inp-group-min">
                                        <label for="#"><input type="checkbox" name="#" class="inp-decorate"> Даю свою згоду на обробку зазначених мною вище персональних даних *</label>
                                    </div><!--.inp-group-min-->

                                    <div class="inp-submit">
                                        <input type="submit" value="Відправити" class="orange-submit">
                                    </div>

                                </div><!--.bt-->

                            </div><!--.contacts_page-->


                        </div>

                    </div>



                </div>

                </div>

            </div>




        </div>
    </div>





    </div>


<script type="text/javascript">
$(function(){
	// Style input+select
	if($('.inp-decorate').length) {
		$('.inp-decorate').styler();
	}
});
</script>

</main>



