<main id="container" role="main">
    <div class="grid-row">
        <div class="col-12">
            <div class="pageHeader">
                <div class="c_023 ">
                    <div class="container-inner">
                        <div class="c_023-1 default">
                            <div class="heading-group">
                                <h1><span>{{{Contact_Renault_in_Ukraine}}}</span></h1>
                            </div>
                            <!-- <p class="content-copy">Get&#x20;in&#x20;touch&#x20;with&#x20;us.</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map-wrapper">
        <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script-->
        <!--script src="https://maps.gstatic.com/maps-api-v3/api/js/21/6/intl/uk_ALL/main.js"></script-->
        <div class="columns12 columns column section c_040 c_040-form c_040-contacts">
            <div class="grid-row">
        <fieldset>
            <div class="c_152-0">
                                                    <span class="location-fields">
                                                        <input type="text" title="Enter your location"
                                                               id="test-drive-form-map-input-search"
                                                               placeholder="{{placeholder}}"
                                                               class="location-input" name="location"
                                                               data-no-results-text="No results - please contact customers services at Renault"
                                                               autocomplete="on">
                                                        <input type="hidden" name="page" value="1">
                                                        <input type="hidden" name="size" value="6">
                                                        <input type="hidden" name="filter" value="BOOK_A_TEST_DRIVE">
                                                        <input aria-invalid="false" value="utf-8" name="_charset_"
                                                               id="_charset_" type="hidden">
                                                        <button type="submit" class="btn-search">{{Search_button}}</button>
                                                        <!--<button type="button" class="btn-geolocate" data-text="Current Location">
                                                            Current Location
                                                        </button>-->
                                                        <span class="autocomplete-suggestions">
                                                        </span>
                                                    </span>
                <input type="hidden" name="latlong" class="location-value"
                       disabled="" value="">
            </div>
        </fieldset>
                </div></div>
        <div class="columns12 columns column section">
            <div class="grid-row">
                <div class="col-4">
                    <div class="mapitembox">
                        <h4></h4>
                        <h5>{{contact_info}}</h5>

                    </div>
                    <!--.mapitembox-->
                </div>

                <div class="col-8">

                    <div class="mapresult" id="mapresult"
                         style="width: 100%; height: 495px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="freeEditorialParsys parsys freeEditorial" >
        <div class="columns column columns12bleed section">

            <div class="grid-row bleed">
                <div class="col-12">
                    <div class="parsys col1-par">
                        <div class="parbase actionPanel section">
                            <div>
                                <form id="contactus" class="hidden"  method="post" autocomplete="off" action="javascript:void(0);">
                                <div class="grid-row">
                                    <div class="contacts_page" >
                                        <div class="left">
                                            <div class="inp-group">
                                                <label for="#">{{accost}}</label>
                                                <select name="#" id="#" class="inp-decorate">
                                                    <option value="#">{{Mr}}</option>
                                                    <option value="#">{{Ms}}</option>
                                                </select>
                                            </div>
                                            <!--.inp-group-->

                                            <div class="inp-group">
                                                <label for="firstname">{{name}} *</label>
                                                <input type="text" name="firstname" class="inp-style name" id="firstname">

                                            </div>
                                            <!--.inp-group-->

                                            <div class="inp-group">
                                                <label for="email">{{E_Mail}} *</label>
                                                <input type="email" name="email" class="inp-style email" id="email">
                                            </div>
                                            <!--.inp-group-->

                                        </div>
                                        <!--.left-->

                                        <div class="right">

                                            <div class="inp-group">
                                                <label for="lastname">{{surname}} *</label>
                                                <input type="text" name="lastname" class="inp-style name" id="lastname">

                                                <div class="inp-error hidden">* Поле обов’язкове для заповнення</div>
                                            </div>
                                            <!--.inp-group-->

                                            <div class="inp-group">
                                                <label for="secondname">{{patronymic}} *</label>
                                                <input type="text" name="secondname" class="inp-style name" id="secondname">
                                            </div>
                                            <!--.inp-group-->

                                            <div class="inp-group">
                                                <label for="phone">{{phone}} *</label>
                                                <input type="phone" name="phone" class="inp-style phone_ua" id="phone">
                                            </div>
                                            <!--.inp-group-->

                                        </div>
                                        <!--.right-->

                                        <div class="bt cf">

                                            <div class="inp-group">
                                                <label for="comment">{{comment}} *</label>
                                                <textarea name="comment" id="comment" class="inp-style name"></textarea>
                                            </div>
                                            <!--.inp-group-->

                                            <div class="inp-group-min">
                                                <label for="#"><input type="checkbox" name="#" class="inp-decorate" id="check_news">
                                                    {{subscribe_to_news}}</label>
                                            </div>
                                            <!--.inp-group-min-->
                                            <div class="inp-group-min hidden padding10" id="phone_subscr">
                                                <label for="#"><input  type="checkbox" name="phone_subscr"
                                                                       class="inp-decorate" checked>{{subscribe_sms}}
                                                </label>

                                            </div>
                                            <div class="inp-group-min hidden padding10" id="email_subscr">
                                                <label for="#"><input  type="checkbox" name="email_subscr"
                                                                       class="inp-decorate" checked>{{subscribe_email}}
                                                </label>

                                            </div>
                                            <!--.inp-group-min-->

                                            <div class="inp-group-min">
                                                <label for="#"><input type="checkbox" name="#" class="inp-decorate selectedVehicle" checked>
                                                   {{{consent}}} *</label>
                                            </div>
                                            <!--.inp-group-min-->

                                            <div class="inp-submit">
                                                <input type="button" value="{{send}}" class="orange-submit btn-disabled"
                                                       id="test-drive-form-submit" disabled="true">
                                            </div>
                                        </div>
                                        <!--.bt-->

                                    </div>
                                    <!--.contacts_page-->
                                </div>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(function () {
            // Style input+select
            if ($('.inp-decorate').length) {
                $('.inp-decorate').styler();
            }
        });


        $('#test-drive-form-submit').click(function () {
            window.testDriveData['punkt[1]'] = $('#firstname').val();
            window.testDriveData['punkt[2]'] = $('#secondname').val();
            window.testDriveData['punkt[3]'] = $('#lastname').val();
            window.testDriveData['punkt[6]'] = $('#email').val();
            window.testDriveData['punkt[7]'] = $('#phone').val();
            window.testDriveData['punkt[8]'] = $('#comment').val();


            window.testDriveData['punkt[10]'] = 'yes';
            if($('#check_news').checked) {
                window.testDriveData['punkt[11]'] = 'true';
                if($(input['name=phone_subscr']).checked){
                    window.testDriveData['punkt[12]'] = '1';
                }
                if($(input['name=email_subscr']).checked){
                    window.testDriveData['punkt[13]'] = '1';
                }

            } else {
                window.testDriveData['punkt[11]'] = 'false';
                window.testDriveData['punkt[12]'] = '0';
                window.testDriveData['punkt[13]'] = '0';

            }
            //must return to http://dealers.renault.ua/ru/site/test_drive
            //selected_id=49&punkt[5]=Master&field-lastname=1&punkt[1]=test&field-firstname=2&punkt[2]=test&field-secondname=3&punkt[3]=fsdfsd&
            //massive=Array&punkt[4]=02.07.1998&field-email=6&punkt[6]=sdfsd@dfsdf.com&
            //field-phone=7&punkt[7]=+38(111)+111-11-11&punkt[8]=18.07.2015&
            //punkt[9]=9:00-10:00&punkt[10]=yes&punkt[11]=true&submit-val=0
            /*var data = {
             'selected_id': '49', //dealer
             'punkt[5]': 'Master', //Модель*

             'punkt[1]': 'Имя2',
             'punkt[2]': 'Отчество2',
             'punkt[3]': 'Фамилия2',
             'punkt[4]': '02.07.1998',
             'punkt[6]': 'sdfsd@dfsdf.com',
             'punkt[7]': '+38(096)+111-11-11',

             'punkt[8]': '18.07.2015', //Желаемая дата тест-драйва
             'punkt[9]': '9:00-10:00', //Желаемое время тест-драйва
             'punkt[10]': 'yes', //Даю своё согласие на обработку указанных мной выше персональных данных*
             'punkt[11]': 'true', //Я хочу получать информацию от Renault

             };*/

            app.logger.var(window.testDriveData);

            preloadFadeIn();

    $.post('http://dealers.renault.ua/site/contacts', window.testDriveData, function (resp) {
        app.logger.var(resp);
        if (resp.match(/thankyou/)) {
            app.changePageAjax(app.view.helper.preffix + '/contact-dealer-thank-you');
        }
        else {
            alert('Error');
            preloadFadeOut();
        }
    });


        });

    </script>

</main>
<script>
    var form = $("#contactus");
    form.validate({
        errorClass: "input-error"
        //validClass: "inp-error"



    });
    $(form).bind('change keyup', function () {
        if ($(this).validate().checkForm()) {
            $('#test-drive-form-submit').removeClass('btn-disabled').attr('disabled', false);


        } else {
            $('#test-drive-form-submit').addClass('btn-disabled').attr('disabled', true);

        }
    });
    $.validator.setDefaults({
    debug: true,
        success: "valid"

    });
    $.validator.addClassRules(
            "name", {
                required: true,
                minlength: 2

            },
            "email", {
                required: true,
                email: true
            },

            "phone_ua", {
                required: true,
                minlength: 7

            },
            "selectedVehicle", {
                required: true
            }
    );

   $.validator.addMethod("phone_ua", function (phone_number, element) {
phone_number = phone_number.replace(/\(|\)|\s+|-/g, "");

        return this.optional(element) || phone_number.length > 7 &&
                phone_number.match(/\+?\d{12}/);
    });

    $("#phone").mask("+38(099)999-99-99");
    var checkbox = $('#check_news');
    var phone_subscr = $('#phone_subscr');
    var email_subscr = $('#email_subscr');
    checkbox.change(function(event) {
        var checkbox = event.target;

        if (checkbox.checked) {

            phone_subscr.removeClass('hidden');
            email_subscr.removeClass('hidden');



        } else {
            phone_subscr.addClass('hidden');
            email_subscr.addClass('hidden');

        }
    });
</script>
<style>
    .padding10{
        padding-left: 10px;
    }
    .input-error{
        padding-top: 10px;
        color: red;
    }
</style>

