

<main id="container" role="main">
    <div class="grid-row">
        <div class="col-12">
            <div class="pageHeader">




                <div class="c_023 ">
                    <div class="container-inner">
                        <div class="c_023-1 default">
                            <div class="heading-group">
                                <h1><span>Зв'язатися з Renault в Українi</span></h1>

                            </div>


                            <!-- <p class="content-copy">Get&#x20;in&#x20;touch&#x20;with&#x20;us.</p>-->

                        </div>

                    </div>
                </div>




            </div>

        </div>
    </div>
    <div class="freeEditorialParsys parsys freeEditorial"><div class="columns column columns12bleed section">


        <div class="grid-row bleed">

            <div class="col-12">
                <div class="parsys col1-par"><div class="parbase actionPanel section">








                    <div>
                        <div class="grid-row">


                            <div class="contacts_page">

                                <div class="left">

                                    <div class="inp-group">
                                        <label for="#">звертання *</label>
                                        <select name="#" id="#" class="inp-decorate">
                                            <option value="#">Пан</option>
                                            <option value="#">Пані</option>
                                        </select>
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Ім'я *</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">E-Mail *</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Індекс</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Населений пункт *</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Номер будинку</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">VIN <span>(номер кузова, зазначений у свідоцтві<br> про реєстрацію транспортного засобу)</span></label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                </div><!--.left-->

                                <div class="right">

                                    <div class="inp-group">
                                        <label for="#">Прізвище *</label>
                                        <input type="text" name="#" class="inp-style">
                                        <div class="inp-error">* Поле обов’язкове для заповнення</div>
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">По батькові *</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Мобільний телефон *</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Область</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Вулиця</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group">
                                        <label for="#">Номер квартири</label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                    <div class="inp-group inp-group--2top">
                                        <label for="#">Державний реєстраційний номер </label>
                                        <input type="text" name="#" class="inp-style">
                                    </div><!--.inp-group-->

                                </div><!--.right-->

                                <div class="bt cf">

                                    <div class="inp-group">
                                        <label for="#">Ваше питання *</label>
                                        <textarea name="#" id="#" class="inp-style"></textarea>
                                    </div><!--.inp-group-->

                                    <div class="inp-group-min">
                                        <label for="#"><input type="checkbox" name="#" class="inp-decorate"> Підписатися на новини Renault</label>
                                    </div><!--.inp-group-min-->

                                    <div class="inp-group-min">
                                        <label for="#"><input type="checkbox" name="#" class="inp-decorate"> Даю свою згоду на обробку зазначених мною вище персональних даних *</label>
                                    </div><!--.inp-group-min-->

                                    <div class="inp-submit">
                                        <input type="submit" value="Відправити" class="orange-submit">
                                    </div>

                                </div><!--.bt-->

                            </div><!--.contacts_page-->


                        </div>

                    </div>



                </div>

                </div>

            </div>




        </div>
    </div>





    </div>


<script type="text/javascript">
$(function(){
	// Style input+select
	if($('.inp-decorate').length) {
		$('.inp-decorate').styler();
	}
});
</script>

</main>



