<div class="nav_outer_wrap">
    <div class="nav_outer">
        <div class="grid-row">
          <div class="col-12">
            <ul class="breadcrumbs">
                <li class="breadcrumb">
                    <a href="{{home}}" class="nav-anchors-link">{{home_title}}</a>
                </li>
                {{#each items}}
                <li class="breadcrumb">
                  <a href="{{breadcrumbs}}" class="nav-anchors-link">{{title}}</a>
                </li>
                {{/each}}
            </ul>
          </div>
        </div>
    </div><!--.nav_outer-->
</div><!--.nav_outer_wrap-->
