<script type="text/javascript">
    $(document).ready(function(){

        var nav_outer = $('.nav_outer');
        var nav_outer_top = nav_outer.offset().top;

        $(window).scroll(function(){
            if($(window).scrollTop() > nav_outer_top ) {
                nav_outer.addClass('nav_outer--fixed');
            } else {
                nav_outer.removeClass('nav_outer--fixed');
            }
        });

        $('body').click(function() {
            $('.navin_mob-btn').removeClass('navin_mob-btn--active');
            $('.navin__mobile').slideUp(350);
        });

        $('.navin_mob-btn').click(function(){
            $(this).toggleClass('navin_mob-btn--active');

            $('.navin__mobile').slideToggle(350);

            return false;
        });

        $('.nav_outer').click(function(event){
            event.stopPropagation();
        });

        $(window).resize(function(){
            if($(window).width() > 1024) {
                $('.navin_mob-btn').removeClass('navin_mob-btn--active');
                $('.navin__mobile').slideUp(350);
            }
        });

    });
</script>

<div class="nav_outer_wrap">
    <div class="nav_outer">
        <div class="navin">
            <ul>
                {{#each items}}
                <li><a href="{{viewUrl}}">{{title}}</a></li>
                {{/each}}
            </ul>

            <div class="navin_mob-btn"></div>

        </div><!--.navin-->

        <div class="navin__mobile">
            <ul>
                {{#each items}}
                <li><a href="{{viewUrl}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </div><!--.navin__mobile-->

    </div><!--.nav_outer-->
</div><!--.nav_outer_wrap-->