<div class="credit_t_box cf">
{{#each items}}
    <div class="credit_t_box__left">
        <table>

            <caption>
                {{caption_left}}
            </caption>

            <tbody>
            <tr>
                <td><strong>{{value_left_1}}</strong></td>
                <td class="middle center">{{key_left_1}}</td>
            </tr>

            <tr>
                <td><strong>{{value_left_2}}</strong></td>
                <td class="middle center"><strong>{{key_left_2}}</strong></td>
            </tr>

            <tr>
                <td><strong>{{value_left_3}}</strong></td>
                <td class="middle center"><strong>{{key_left_3}}</strong></td>
            </tr>
            </tbody>
        </table>
    </div><!--.credit_t_box__left-->

    <div class="credit_t_box__right">
        <table>

            <caption>
                {{caption_right}}
            </caption>

            <tbody>
            <tr>
                <td><strong>{{value_right_1}}</strong></td>
                <td class="middle center">{{key_right_1}}</td>
            </tr>

            <tr>
                <td><strong>{{value_right_2}}</strong></td>
                <td class="middle center"><strong>{{key_right_2}}</strong></td>
            </tr>

            <tr>
                <td><strong>{{value_right_3}}</strong></td>
                <td class="middle center"><strong>{{key_right_3}}</strong></td>
            </tr>
            </tbody>
        </table>

    </div><!--.credit_t_box__right-->
    {{/each}}

</div><!--.credit_t_box-->
