<div class="credit_t_box cf">

    <div class="credit_t_box__left">
        <table>

            <caption>
                Предложение на 3 года
            </caption>

            <tbody>
            <tr>
                <td><strong>Аванс</strong></td>
                <td class="middle center">180 000 руб.</td>
            </tr>

            <tr>
                <td><strong>Ежемесячный платеж</strong></td>
                <td class="middle center"><strong>16 398 руб.</strong></td>
            </tr>

            <tr>
                <td><strong>Процентная ставка</strong></td>
                <td class="middle center"><strong>7,9%</strong></td>
            </tr>
            </tbody>
        </table>
    </div><!--.credit_t_box__left-->

    <div class="credit_t_box__right">
        <table>
            <caption>
                Предложение на 5 лет
            </caption>
            <tbody>
            <tr>
                <td><strong>Аванс</strong></td>
                <td class="middle center">120 000 руб.</td>
            </tr>

            <tr>
                <td><strong>Ежемесячный платеж</strong></td>
                <td class="middle center"><strong>14 198 руб.</strong></td>
            </tr>

            <tr>
                <td><strong>Процентная ставка</strong></td>
                <td class="middle center"><strong>12,9%</strong></td>
            </tr>
            </tbody>
        </table>
    </div><!--.credit_t_box__right-->


</div><!--.credit_t_box-->
