
<style>
    .padding10 {
        padding-left: 10px;
    }

    .input-error {
        padding-top: 10px;
        color: red;
    }
</style>

<div class="grid-row">
    <div class="col-12">
        <div class="c_056 " data-accordioninitialised="true">
            <div class="pageHeader">
                <div class="c_023 ">
                    <div class="container-inner">
                        <div class="c_023-1 default">
                            <div class="heading-group">
                                <h1><span>{{header}}</span></h1>
                            </div>
                            <p class="content-copy">{{subheader}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $("#corporate-sales").verify({
                    debug: true
                });
            </script>
            <div class="form">
                <form id="corporate-sales" class="accordion" method="post" autocomplete="off" action="javascript:void(0);">
                    <input aria-invalid="false" value="utf-8" name="_charset_" id="_charset_" type="hidden">
                    <input type="hidden" name="myemail" value="{{my_email}}"/>



                    <div class="accordion-group">


                        <div class="accordion-panel select-customer-details-content">
                            <br>

                            <div class="customer-details-content">
                                <div class="grid-row">

                                    <div class="c_019">
                                        <div class="contacts_page">
                                            <div class="left">
                                                <div class="inp-group">
                                                    <label for="#">{{accost}}</label>
                                                    <select name="#" id="#" class="inp-decorate">
                                                        <option value="#">{{Mr}}</option>
                                                        <option value="#">{{Ms}}</option>
                                                    </select>
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group">
                                                    <label for="#">{{name}} *</label>
                                                    <input type="text" name="first_name" class="inp-style" data-validate="required,name">
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group">
                                                    <label for="#">{{E_Mail}} *</label>
                                                    <input type="text" name="email" class="inp-style" data-validate="required,email">
                                                </div>

                                            </div>
                                            <!--.left-->
                                            <div class="right">
                                                <div class="inp-group">
                                                    <label for="#">{{surname}} *</label>
                                                    <input type="text" name="lastname" class="inp-style" data-validate="required,surname">
                                                    <!--div class="inp-error">* Поле обов’язкове для заповнення</div-->
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group">
                                                    <label for="#">{{patronymic}} *</label>
                                                    <input type="text" name="secondname" class="inp-style" data-validate="required,patronymic">
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group">
                                                    <label for="#">{{phone}} *</label>
                                                    <input id="phone" type="text" name="phone"
                                                           class="inp-style" data-validate="required,phone">
                                                </div>
                                                <!--.inp-group-->

                                            </div>
                                            <!--.right-->
                                            <div class="bt cf">


                                                    <div class="inp-group">
                                                        <label for="message">{{message}} *</label>
                                                    <textarea id="message" name="message"
                                                              class="inp-style" data-validate="required,description_of_the_problem"></textarea>
                                                    </div>
                                                <!--.inp-group-->

                                                <!--.inp-group-min-->
                                                <div class="inp-group-min">
                                                    <label for="#"><input type="checkbox" name="check_data"
                                                                          class="inp-decorate" checked data-validate="agreement">{{{consent}}}
                                                        *</label>
                                                </div>

                                            </div>

                                            <!--.bt-->
                                        </div>
                                        <!--.contacts_page-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="submit-form">
                        <button class="submit-form-button " id="submit" type="submit">
                            {{send}}
                        </button>
                    </div>
                </form>
            </div>
            <div class="contactUs">
            </div>
        </div>
    </div>
</div>

<script>
    // Style input+select
    if ($('.inp-decorate').length) {
        $('.inp-decorate').styler();
    }
        $('#submit').click(function () {

        window.corporateSaleData['firstname'] = $('input[name="first_name"]').val();
        window.corporateSaleData['secondname'] = $('input[name="secondname"]').val();
        window.corporateSaleData['lastname'] = $('input[name="lastname"]').val();
        window.corporateSaleData['email'] = $('input[name="email"]').val();
        window.corporateSaleData['phone'] = $('input[name="phone"]').val();
            window.corporateSaleData['myemail'] = $('input[name="myemail"]').val();
        window.corporateSaleData['message'] = $('textarea[name="message"]').val();
//
//
//        window.corporateSaleData['punkt[10]'] = 'yes';
//        window.corporateSaleData['punkt[11]'] = 'true';
//
//        window.corporateSaleData['firstname'] = 'test';
//
//        app.logger.var(window.corporateSaleData);
//
////        preloadFadeIn();
//
//

        $.post(app.config.frontend_app_api_url + '/db/corporate/create', window.corporateSaleData, function (resp) {
            app.logger.var(resp);
            if(resp.id !== undefined && resp.id !== ''){
                app.changePageAjax(app.view.helper.preffix + '/korporativnye-prodazhi-form-thank-you');
            } else {
                alert ('server error');
            }

        });



//

                });

    $('.form .select-vehicle-header').click(function () {
        $('.form .select-vehicle-content').slideDown();

        $('.form .select-vehicle-content').attr('data-state', 'open');
        $('.form .select-vehicle-header').attr('data-state', 'open');
    });



    $('.form .confirm-selection button').click(function () {
        var dateTime = window.testDriveData['punkt[8]'] + '   ' + window.testDriveData['punkt[9]'];
        $('.select-date-time-header').html(dateTime);
    });

    $('.select-date-time-content .confirm-selection button').click(function () {
        $('.form .select-date-time-content').slideUp();

        $('.form .select-customer-details-content').slideDown();
        $('#test-drive-form-submit').removeAttr('disabled');
//        $('#test-drive-form-submit').removeClass('btn-disabled');


        $('.accordion-panel').not('.form .select-customer-details-content').attr('data-state', 'closed');
        $('.form .select-customer-details-content').attr('data-state', 'open');
        $('.accordion-header').not('.form .select-customer-details-header').attr('data-state', 'closed');
        $('.form .select-customer-details-header').attr('data-state', 'open');
    });

    $('.select-dealer-header').click(function () {

        if (!$.isEmptyObject(window.testDriveData['punkt[5]'])) {
            $('.select-dealer-content').slideDown();


            $('.accordion-panel').not('.form .select-dealer-content').attr('data-state', 'closed');
            $('.form .select-dealer-content').attr('data-state', 'open');
            $('.accordion-header').not('.form .select-dealer-header').attr('data-state', 'closed');
            $('.form .select-dealer-header').attr('data-state', 'open');
        }
    });

    $('.select-date-time-header').click(function () {
        if (!$.isEmptyObject(window.testDriveData['selected_id'])) {

            $('.select-date-time-content').slideDown();

            $('.accordion-panel').not('.form .select-date-time-content').attr('data-state', 'closed');
            $('.form .select-date-time-content').attr('data-state', 'open');
            $('.accordion-header').not('.form .select-date-time-header').attr('data-state', 'closed');
            $('.form .select-date-time-header').attr('data-state', 'open');
        }
    });
    $('.selectedVehicle').click(function () {
        $('#test-drive-form-submit').addClass('btn-disabled');

    });

    var checkbox = $('#check_news');
    var phone_subscr = $('#phone_subscr');
    var email_subscr = $('#email_subscr');
    checkbox.change(function (event) {
        var checkbox = event.target;

        if (checkbox.checked) {

            phone_subscr.removeClass('hidden');
            email_subscr.removeClass('hidden');

        } else {
            phone_subscr.addClass('hidden');
            email_subscr.addClass('hidden');
        }
    });

    //    "phone_subscr""email_subscr"
</script>
<style>

    .notifyjs-arrow{
        top: 42px;
        left: 10px;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 206, 0);
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: transparent;
        border-right-width: 5px;
        border-right-style: solid;
        border-right-color: transparent;

    }
    .notifyjs-wrapper {
        z-index: 1;
        position: absolute;
        display: inline-block;
        height: 0;
        width: 0;
    }
    .notifyjs-bootstrap-error {
        color: #383838;
        background-color: #FFCE00;
        border-color: #FFCE00;
        background-image: none;
    }

    @media all and (max-width: 380px){

        .notifyjs-bootstrap-error{
            max-width:300px;
            padding:5px 10px;
            font-size:12px;
            white-space:normal;}

        .notifyjs-container{
            width:240px;}

    }
    .c_056 .accordion {
        padding: 18px 4.4285714286em;
    }
</style>
