<style>
    .padding10 {
        padding-left: 10px;
    }

    .input-error {
        padding-top: 10px;
        color: red;
    }
</style>
<style>

    .notifyjs-arrow{
        top: 42px;
        left: 10px;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 206, 0);
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: transparent;
        border-right-width: 5px;
        border-right-style: solid;
        border-right-color: transparent;

    }
    .notifyjs-wrapper {
        z-index: 1;
        position: absolute;
        display: inline-block;
        height: 0;
        width: 0;
    }
    .notifyjs-bootstrap-error {
        color: #383838;
        background-color: #FFCE00;
        border-color: #FFCE00;
        background-image: none;
    }
</style>

<div class="grid-row">
    <div class="col-12">
        <div class="c_056  c_056_default">
            <div class="pageHeader">
                <div class="c_023 ">
                    <div class="container-inner">
                        <div class="c_023-1 default">
                            <div class="heading-group">
                                <h1><span>{{service}}</span></h1>
                            </div>
                            <p class="content-copy">{{experience_renault_for_yourself}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $("#batd").verify({
                    debug: true
                });
            </script>
            <div class="form">
                <form id="batd" class="accordion" method="post" autocomplete="off" action="javascript:void(0);">
                    <input aria-invalid="false" value="utf-8" name="_charset_" id="_charset_" type="hidden">


                    <div class="accordion-group">
                        <h2 class="accordion-header select-dealer-header" data-state="open" >
                            <span>{{find_dealer}}</span></h2>

                        <div class="accordion-panel select-dealer-content" data-state="open">
                            <br>

                            <div class="c_040 batd fad-simple-detail is-initialized"
                                 data-dealer-search-url="/content/renault/en_GB/index/book-a-test-drive/jcr:content/form.dealers_by_location.json"
                                 data-dealer-detail-url="/content/renault/en_GB/index/book-a-test-drive/jcr:content/form.dealer.json"
                                 data-dealer-search-basic-url="/content/renault/en_GB/index/book-a-test-drive/jcr:content/form.basic_dealers_by_location.json">
                                <div class="c_040-form">
                                    <div class="grid-row bleed">
                                        <div class="col-12">
                                            <fieldset>
                                                <div class="c_152-0">
                                                    <span class="location-fields">
                                                        <input type="text" title="Enter your location"
                                                               id="test-drive-form-map-input-search"
                                                               placeholder="{{placeholder}}"
                                                               class="location-input" name="location"
                                                               data-no-results-text="No results - please contact customers services at Renault"
                                                               autocomplete="on">
                                                        <input type="hidden" name="page" value="1">
                                                        <input type="hidden" name="size" value="6">
                                                        <input type="hidden" name="filter" value="SERVICE">
                                                        <input aria-invalid="false" value="utf-8" name="_charset_"
                                                               id="_charset_" type="hidden">
                                                        <button type="submit" class="btn-search">Search button</button>
                                                        <!--<button type="button" class="btn-geolocate" data-text="Current Location">
                                                            Current Location
                                                        </button>-->
                                                        <span class="autocomplete-suggestions">
                                                        </span>
                                                    </span>
                                                    <input type="hidden" name="latlong" class="location-value"
                                                           disabled="" value="">
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <p class="no-dealers-msg">No results - please contact customers services at
                                        Renault</p>

                                    <div class="location-results">
                                        <div class="grid-row bleed">
                                            <div class="col-12">
                                                <div class="results-text"></div>
                                            </div>
                                        </div>
                                        <div class="view-map is-active" tabindex="-1">
                                            <!-- START C_022 -->
                                            <div class="map-wrapper">
                                                <div class="columns12 columns column section">
                                                    <div class="grid-row">
                                                        <div class="col-4">
                                                            <div class="mapitembox">
                                                                <h4></h4>
                                                                <h5>{{contact_info}}</h5>

                                                            </div>
                                                            <!--.mapitembox-->
                                                        </div>
                                                        <div class="col-8">
                                                            <div class="mapresult" id="mapresult"
                                                                 style="width: 100%; height: 495px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END C_022 -->

                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="item-actions-last" id="service-form-select-this-dealer-button"
                                 style="display:none;">
                                <button type="button" class="btn-fad btn-select">{{select_this_dealer}}</button>
                            </div>
                            <!-- END: C.40 variation -->
                        </div>
                    </div>
                    <div class="accordion-group">
                        <h2 class="accordion-header select-date-time-header" data-state="closed">
                            <span>{{select_date_and_time}}</span>
                        </h2>

                        <div class="accordion-panel select-date-time-content" data-state="closed" style="display:none;">
                            <div class="appointment appointmentInitialized" data-appointment-date="2015-07-08"
                                 data-appointment-time="14:00">
                                <div class="datetime">
                                    <div class="date" data-date-format="DD dd MM yy">
                                        <div class="label-wrap-time"><label for="">{{select_date}}</label></div>

                                        <div id="test-drive-form-datepcker"></div>
                                    </div>
                                    <div class="time" data-opening-time-monday="09:00" data-closing-time-monday="17:00"
                                         data-opening-time-tuesday="09:00" data-closing-time-tuesday="17:00"
                                         data-opening-time-wednesday="09:00" data-closing-time-wednesday="17:00"
                                         data-opening-time-thursday="09:00" data-closing-time-thursday="17:00"
                                         data-opening-time-friday="09:00" data-closing-time-friday="17:00"
                                         data-opening-time-saturday="09:00" data-closing-time-saturday="17:00"
                                         data-opening-time-sunday="09:00" data-closing-time-sunday="17:00">

                                        <div class="label-wrap-time"><label for="">{{select_time}}</label></div>

                                        <ul class="slots">

                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">09:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">10:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">11:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">12:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">13:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available selected">14:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">15:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">16:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">17:00</time>
                                                </button>
                                            </li>


                                        </ul>
                                        <div class="form-group">
                                            <label for="appointmentTime">Time slot</label>
                                            <input id="appointmentTime" type="time" name="appointmentTime"
                                                   data-validation-notblank="Time cannot be blank"
                                                   data-validation-invalid="Time format is invalid"
                                                   data-validation-invalid-pattern="time">

                                            <p class="hint">Please use HH:MM format</p>
                                        </div>
                                    </div>

                                    <div class="time time-center" data-opening-time-monday="09:00" data-closing-time-monday="17:00"
                                         data-opening-time-tuesday="09:00" data-closing-time-tuesday="17:00"
                                         data-opening-time-wednesday="09:00" data-closing-time-wednesday="17:00"
                                         data-opening-time-thursday="09:00" data-closing-time-thursday="17:00"
                                         data-opening-time-friday="09:00" data-closing-time-friday="17:00"
                                         data-opening-time-saturday="09:00" data-closing-time-saturday="17:00"
                                         data-opening-time-sunday="09:00" data-closing-time-sunday="17:00">

                                        <div class="label-wrap-time"><label for="">{{select_call_time}}</label></div>

                                        <ul class="callslots">

                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">08:00 - 10:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">10:00 - 12:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">12:00 - 14:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">14:00 - 16:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available">16:00 - 18:00</time>
                                                </button>
                                            </li>
                                            <li>
                                                <button type="button" tabindex="">
                                                    <time class="bookable available selected">18:00 - 20:00</time>
                                                </button>
                                            </li>



                                        </ul>
                                        <div class="form-group">
                                            <label for="callTime">Time slot</label>
                                            <input id="callTime" type="time" name="callTime"
                                                   data-validation-notblank="Time cannot be blank"
                                                   data-validation-invalid="Time format is invalid"
                                                   data-validation-invalid-pattern="time">

                                            <p class="hint">Please use HH:MM format</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="confirm-selection">
                                    <p class="optional-confirmation"></p>
                                    <button class="cta" type="button">{{change_this_datetime}}</button>
                                </div>
                            </div>
                        </div></div>

                    <div class="accordion-group">
                        <h2 class="accordion-header select-customer-details-header" data-state="closed"><span>{{your_contact_info}}</span>
                        </h2>

                        <div class="accordion-panel select-customer-details-content" data-state="closed"
                             style="display:none;">
                            <br>

                            <div class="customer-details-content">
                                <div class="grid-row">
                                    <!--div class="formBuilderHeader header">
                                        <h2 class="title">ваша контктна інформація</h2>
                                    </div-->

                                    <div class="c_019">
                                        <div class="contacts_page service_page">
                                            <div class="all_forms">
                                                <div class="inp-group inp-group-text">
                                                    <label for="model">{{model}} *</label>
                                                    <select name="punkt[5]" id="model" class="inp-decorate">
                                                        {{#each models}}
                                                        <option value="{{this}}">{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <!--.inp-group-->
                                                <!--<div class="inp-group">-->
                                                <!--<label for="accost">{{accost}}</label>-->
                                                <!--<select name="accost" id="accost" class="inp-decorate">-->
                                                <!--<option value="#">{{Mr}}</option>-->
                                                <!--<option value="#">{{Ms}}</option>-->
                                                <!--</select>-->
                                                <!--</div>-->
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text">
                                                    <label for="#">{{surname}} *</label>
                                                    <input type="text" name="punkt[1]" class="inp-style" placeholder="Шевченко" data-validate="required,surname,requiredAll">
                                                    <!--div class="inp-error">* Поле обов’язкове для заповнення</div-->
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text">
                                                    <label for="#">{{name}} *</label>
                                                    <input type="text" name="punkt[2]" class="inp-style" placeholder="Тарас" data-validate="required,name,requiredAll">
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text">
                                                    <label for="#">{{patronymic}} *</label>
                                                    <input type="text" name="punkt[3]" class="inp-style" placeholder="Григорович" data-validate="required,patronymic,requiredAll">
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text">
                                                    <label for="#">{{E_Mail}} *</label>
                                                    <input type="text" name="punkt[6]" class="inp-style" placeholder="taras@ukr.net" data-validate="required,email,requiredAll">
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group phone-inp-group">
                                                    <div class="inp-group__small-col">
                                                        <label for="#">{{phone_code_title}}</label>
                                                        <select name="phone_code" id="phone_code" class="inp-decorate">
                                                            {{#each phone_code}}
                                                            <option value="{{title}}">{{title}}</option>

                                                            {{/each}}
                                                            <option value="other">Другой</option>
                                                        </select>

                                                        <input id="phone_code_input" type="text" name="phone_code_input"
                                                               class="inp-style" data-validate="required,phone_code" style="width: 36px; display: none;">
                                                        <label id="phone_code_input_label" for="phone_code_input" style="width: 36px; display: none;">x</label>
                                                    </div>

                                                    <div class="inp-group__large-col">
                                                        <label for="#">{{phone}} *</label>
                                                        <input id="phone" type="text" name="phone"
                                                               class="inp-style" placeholder="1234567" data-validate="required,phone_part,requiredAll">
                                                    </div>
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text">
                                                    <label for="served_before">{{served_before}}</label>
                                                    <select name="punkt[9]" id="served_before" class="inp-decorate">
                                                        <option value="true">{{yes}}</option>
                                                        <option value="false">{{no}}</option>
                                                    </select>
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text" >
                                                    <label>{{connect_type}}</label><br>
                                                    <div class="form-in" >
                                                        <input type="radio" value="Phone" id="punkt9Phone" name="punkt[10]" checked="" class="inp-decorate radio connectionKind">
                                                        <label for="punkt9Phone"> Sms</label>
                                                        <input type="radio" value="E-mail" id="punkt9E-mail" name="punkt[10]" class="inp-decorate radio connectionKind">
                                                        <label for="punkt9E-mail"> E-mail</label>
                                                        <br>
                                                    </div>
                                                </div>
                                                <!--.inp-group-->
                                    
                                                <div class="inp-group inp-group-text">
                                                    <label for="vin">{{VIN}} *</label>
                                                    <input id="vin" type="text" name="punkt[8]"
                                                           class="inp-style" data-validate="required,vin,requiredAll">
                                                </div>
                                                <style>
                                                    .customer-details-content input[name="punkt[8]"]{
                                                        text-transform: uppercase;
                                                    }

                                                </style>
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-reason">
                                                    <label for="reason">{{the_reason_for_appeal}}</label>
                                                    <select name="punkt[13]" id="reason" class="inp-decorate">
                                                        {{#each reason_for_appeal}}
                                                        <option value="{{reason}}">{{reason}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            <div class="bt cf">

                                                <div class="inp-group">
                                                    <label for="#">{{description_of_the_problem}} *</label>
                                                    <textarea id="#" name="punkt[16]"
                                                              class="inp-style" data-validate="required,description_of_the_problem,requiredAll"></textarea>
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group-min">
                                                    <label for="check_news"><input id="check_news" type="checkbox"
                                                                                   name="check_news"
                                                                                   class="inp-decorate"
                                                                                   checked>
                                                        {{Subscribe_to_news}}
                                                    </label>
                                                </div>
                                                <div class="inp-group-min padding10" id="phone_subscr">
                                                    <label for="#"><input type="checkbox" name="punkt[19]"
                                                                          class="inp-decorate" checked>{{subscribe_sms}}
                                                    </label>

                                                </div>
                                                <div class="inp-group-min padding10" id="email_subscr">
                                                    <label for="#"><input type="checkbox" name="punkt[20]"
                                                                          class="inp-decorate" checked>{{subscribe_email}}
                                                    </label>

                                                </div>
                                                <!--.inp-group-min-->
                                                <div class="inp-group-min" id="agreement">
                                                    <label for="#"><input  type="checkbox" name="punkt[17]"
                                                                           class="inp-decorate" checked data-validate="agreement,requiredAll">{{{consent}}}
                                                        *</label>
                                                </div>
                                                <!--.inp-group-min-->
                                                <!--div class="inp-submit">
                                                    <input type="submit" value="Відправити" class="orange-submit">
                                                </div-->
                                            </div>
                                            <!--.bt-->
                                            </div>
                                            <!--.all_forms-->
                                        </div>
                                        <!--.contacts_page-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="downPayment" value="">
                    <input type="hidden" name="duration" value="">
                    <input type="hidden" name="netCreditFinanced" value="">
                    <input type="hidden" name="interestRate" value="">
                    <input type="hidden" name="monthlyPayment" value="">
                    <input type="hidden" name="price" value="">
                    <input type="hidden" name="processingFees" value="">

                    <div class="submit-form">
                        <button class="submit-form-button" id="service-form-submit" type="submit">
                            {{submit}}
                        </button>
                    </div>
                </form>
            </div>
            <div class="contactUs">
            </div>
        </div>
    </div>
</div>

<script>
    // Style input+select
    $(".submit-form-button").attr('disabled','disabled');
    $(".submit-form-button").addClass('btn-disabled');
    if ($('.inp-decorate').length) {
        $('.inp-decorate').styler();
    }

    $( "#phone_code" ).change(function() {
        $val = $( this ).val();
        if($val == 'other'){
            $( "#phone_code").parent().hide();
            $("#phone_code_input").show();
            $("#phone_code_input_label").show();
        }
    });

    $("#phone_code_input_label").on('click', function(){
        $( "#phone_code").find('option').first().attr('selected');
        $( "#phone_code").parent().show();
        $("#phone_code_input").hide();
        $("#phone_code_input_label").hide();

    });

    $('#service-form-submit').click(function () {

        window.testDriveData['punkt[1]'] = $('.customer-details-content input[name="punkt[1]"]').val();
        window.testDriveData['punkt[2]'] = $('.customer-details-content input[name="punkt[2]"]').val();
        window.testDriveData['punkt[3]'] = $('.customer-details-content input[name="punkt[3]"]').val();
        window.testDriveData['punkt[5]'] = $('.customer-details-content select[name="punkt[5]"] option:selected').val();
        window.testDriveData['punkt[6]'] = $('.customer-details-content input[name="punkt[6]"]').val();
        window.testDriveData['punkt7'] = $('.customer-details-content input[name="phone"]').val();

        var e = document.getElementById("phone_code");
        var strUser = e.options[e.selectedIndex].value;
        if(strUser == 'other'){
            window.testDriveData['code_select'] = $("#phone_code_input").val();
        } else {
            window.testDriveData['code_select'] = strUser;
        }
        window.testDriveData['punkt[8]'] = $('.customer-details-content input[name="punkt[8]"]').val();
        window.testDriveData['punkt[9]'] = $('.customer-details-content select[name="punkt[9]"] option:selected').val();
        window.testDriveData['punkt[13]'] = $('.customer-details-content select[name="punkt[13]"] option:selected').val();


        window.testDriveData['punkt[10]'] = $('.customer-details-content input[name="punkt[10]"]:checked').val();
        window.testDriveData['punkt[16]'] = $('.customer-details-content textarea[name="punkt[16]"]').val();
        window.testDriveData['punkt[17]'] = "true";

        window.testDriveData['submit-val'] = "1";



        app.logger.var(window.testDriveData);

        $.post('http://dealers.renault.ua/ru/service', window.testDriveData, function (resp) {
            app.logger.var(resp);
            if (resp.match(/thankyou/)) {
                app.changePageAjax(app.view.helper.preffix + '/dakuemo-za-zapis-na-servis');
            }

//            else {
//                alert('Error');
//                preloadFadeOut();
//            }
        });


    });




    $('.form .select-vehicle-header').click(function () {
        $('.form .select-vehicle-content').slideDown();

        $('.form .select-vehicle-content').attr('data-state', 'open');
        $('.form .select-vehicle-header').attr('data-state', 'open');
    });

    //Желаемая дата тест-драйва$('.selector').datepicker({ defaultDate: +7 });
    $('#test-drive-form-datepcker').datepicker({
        firstDay: 1,
        defaultDate: +1,
        minDate: new Date((new Date()).valueOf() + 1000 * 3600 * 24),
        onSelect: function () {
            var day1 = $('#test-drive-form-datepcker').datepicker('getDate').getDate();
            var month1 = $('#test-drive-form-datepcker').datepicker('getDate').getMonth() + 1;
            var year1 = $('#test-drive-form-datepcker').datepicker('getDate').getFullYear();
            if (month1 < 10) {
                month1 = '0' + month1;
            }
            var fullDate = day1 + "." + month1 + "." + year1;

            window.testDriveData['punkt[12]'] = fullDate;

        }
    },
    $.datepicker.regional['ru'] = {
        clearText: 'удалить', clearStatus: '',
        closeText: 'Закрыть', closeStatus: 'Fermer sans modifier',
        prevText: 'пред', prevStatus: 'Voir le mois précédent',
        nextText: 'след', nextStatus: 'Voir le mois suivant',
        currentText: 'Courant', currentStatus: 'Voir le mois courant',
        monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Мая', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthNamesShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн',
            'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
        monthStatus: 'Voir un autre mois', yearStatus: 'Voir un autre année',
        weekHeader: 'Sm', weekStatus: '',
        dayNames: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
        dayNamesShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        dayStatus: 'Utiliser DD comme premier jour de la semaine', dateStatus: 'Choisir le DD, MM d',
        dateFormat: 'dd/mm/yy', firstDay: 1,
        initStatus: 'Выберите дату', isRTL: false
    },
    $.datepicker.regional['uk'] = {
        clearText: 'видалити', clearStatus: '',
        closeText: 'Закрити', closeStatus: 'Fermer sans modifier',
        prevText: 'назад', prevStatus: 'Voir le mois précédent',
        nextText: 'вперед', nextStatus: 'Voir le mois suivant',
        currentText: 'Courant', currentStatus: 'Voir le mois courant',
        monthNames: ['Січень', 'Лютий', 'Березень', 'Квітень', 'Травень', 'Червень', 'Липень', 'Серпень', 'Вересень', 'Жовтень', 'Листопад', 'Грудень'],
        monthNamesShort: ['Січ', 'Лют', 'Бер', 'Кві', 'Тра', 'Чер',
            'Лип', 'Серп', 'Вер', 'Жов', 'Лист', 'Гру'],
        monthStatus: 'Voir un autre mois', yearStatus: 'Voir un autre année',
        weekHeader: 'Sm', weekStatus: '',
        dayNames: ['Неділя', 'Понеділок', 'Вівторок', 'Середа', 'Четвер', 'П`ятниця', 'Суббота'],
        dayNamesShort: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        dayNamesMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
        dayStatus: 'Utiliser DD comme premier jour de la semaine', dateStatus: 'Choisir le DD, MM d',
        dateFormat: 'dd/mm/yy', firstDay: 1,
        initStatus: 'Вибрати дату', isRTL: false
    },
    $.datepicker.setDefaults($.datepicker.regional[window.app.router.locale])
            );

    //Желаемое время проведения работ
    $('.datetime .slots button').click(function () {
        $('.datetime .slots button').find('time').removeClass('selected');
        $(this).find('time').addClass('selected');

        window.testDriveData['punkt[14]'] = $(this).find('time').html();
    });
    //Желаемое время звонка
    $('.datetime .callslots button').click(function () {
        $('.datetime .callslots button').find('time').removeClass('selected');
        $(this).find('time').addClass('selected');

        window.testDriveData['punkt[11]'] = $(this).find('time').html();
    });

    $('.form .confirm-selection button').click(function () {
        var dateTime = window.testDriveData['punkt[12]'] + '   ' + window.testDriveData['punkt[14]'];
        $('.select-date-time-header').html(dateTime);
    });

    $('.select-date-time-content .confirm-selection button').click(function () {
        $('.form .select-date-time-content').slideUp();

        $('.form .select-customer-details-content').slideDown();
        $('#service-form-submit').removeAttr('disabled');
//        $('#service-form-submit').removeClass('btn-disabled');


        $('.accordion-panel').not('.form .select-customer-details-content').attr('data-state', 'closed');
        $('.form .select-customer-details-content').attr('data-state', 'open');
        $('.accordion-header').not('.form .select-customer-details-header').attr('data-state', 'closed');
        $('.form .select-customer-details-header').attr('data-state', 'open');
    });

    $('.select-dealer-header').click(function () {


        $('.select-dealer-content').slideDown();


        $('.accordion-panel').not('.form .select-dealer-content').attr('data-state', 'closed');
        $('.form .select-dealer-content').attr('data-state', 'open');
        $('.accordion-header').not('.form .select-dealer-header').attr('data-state', 'closed');
        $('.form .select-dealer-header').attr('data-state', 'open');

    });

    $('.select-date-time-header').click(function () {
        if (!$.isEmptyObject(window.testDriveData['selected_id'])) {

            $('.select-date-time-content').slideDown();

            $('.accordion-panel').not('.form .select-date-time-content').attr('data-state', 'closed');
            $('.form .select-date-time-content').attr('data-state', 'open');
            $('.accordion-header').not('.form .select-date-time-header').attr('data-state', 'closed');
            $('.form .select-date-time-header').attr('data-state', 'open');
        }
    });
    $('.selectedVehicle').click(function () {
        $('#service-form-submit').addClass('btn-disabled');

    });


    var checkbox = $('#check_news');
    var phone_subscr = $('#phone_subscr');
    var email_subscr = $('#email_subscr');
    var agreement = $('#agreement');
    checkbox.change(function (event) {
        var checkbox = event.target;

        if (checkbox.checked) {

            window.testDriveData['punkt[18]'] = "true";
            window.testDriveData['punkt[19]'] = "1";
            window.testDriveData['punkt[20]'] = "1";
            phone_subscr.removeClass('hidden');
            email_subscr.removeClass('hidden');

        } else {
            window.testDriveData['punkt[18]'] = "0";
            window.testDriveData['punkt[19]'] = "0";
            window.testDriveData['punkt[20]'] = "0";
            phone_subscr.addClass('hidden');
            email_subscr.addClass('hidden');
        }
    });
    phone_subscr.change(function (event) {
        var phone_subscr = event.target;

        if (phone_subscr.checked) {
            window.testDriveData['punkt[19]'] = "1";

        } else {
            window.testDriveData['punkt[19]'] = "0";
        }
    });
    email_subscr.change(function (event) {
        var email_subscr = event.target;

        if (email_subscr.checked) {

            window.testDriveData['punkt[20]'] = "1";

        } else {
            window.testDriveData['punkt[20]'] = "0";
        }
    });
    agreement.change(function (event) {
        var agreement = event.target;

        if (agreement.checked) {

            window.testDriveData['punkt[17]'] = "true";

        } else {
            window.testDriveData['punkt[17]'] = "0";
        }
    });

    function skipFindDealerBlock(dealer_id) {        
        $.each(app.view.allMarkers, function (k, v) {
            if (dealer_id == v.dealer.dealers_id) {
                
                $('.select-dealer-header').parent().hide();
                selectThisDealerButtonClick(v);
            }
        });
    }

    function selectThisDealerButtonClick(dealer) {
        var locale = app.router.locale;

        if ('uk' == locale) {
            locale = 'ua';
        }

        $('.select-dealer-header').html(dealer['dealers_name_' + locale]);
        $('.select-dealer-content').slideUp();
        $('.form .select-dealer-content, .form .select-dealer-header').attr('data-state', 'closed');
        $('.form .select-date-time-content').slideDown();
        $('.form .select-date-time-content, .form .select-date-time-header').attr('data-state', 'open');

    }

    setTimeout(function () {
        //if dealer
        if (app.config.frontend_app_dealer_id && app.config.frontend_app_dealer_id > 0) {
            skipFindDealerBlock(app.config.frontend_app_dealer_id);
        }
    }, 1000);
    
     //Зеленая пометка после выбора (аккардион)
    $('#service-form-select-this-dealer-button button').click(function(){
        $('.select-dealer-header').addClass('accordion-header-complete');
        setTimeout(function(){
            $('.select-date-time-header').scrollTo();
        }, 300);
        
    });
    
    $('.confirm-selection button.cta').click(function(){
        $('.select-date-time-header').addClass('accordion-header-complete');
    });
</script>

