<style>
    .padding10 {
        padding-left: 10px;
    }

    .input-error {
        padding-top: 10px;
        color: red;
    }
</style>

<div class="grid-row">
    <div class="col-12">
		
		<div class="c_056 c_056_default">
			
			
			<div class="pageHeader">
                <div class="c_023 ">
                    <div class="container-inner">
                        <div class="c_023-1 default">
                            <div class="heading-group">
                                <h1><span>{{header}}</span></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			
            <script>
                $("#batd").verify({
                    debug: false
                });
                </script>
            <div class="form">
                <form id="batd" class="accordion" method="post" autocomplete="off" action="javascript:void(0);">


					<div class="accordion-group accordion-group-disabled">
                        <h2 class="accordion-header select-customer-details-header" data-state="open"><span>{{subscribe_email}}</span>
                        </h2>

                        <div class="accordion-panel select-customer-details-content" data-state="open">
                            <br>

							
                            <div class="customer-details-content">
                                <div class="grid-row">
                                    <!--div class="formBuilderHeader header">
                                        <h2 class="title">ваша контктна інформація</h2>
                                    </div-->
                                    <div class="c_019">
                                        <div class="contacts_page">
                                            <div class="all_forms">

                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text">
                                                    <label for="#">{{surname}} *</label>
                                                    <input type="text" name="lastname" class="inp-style" placeholder="{{surname_placeholder}}" data-validate="required,surname,requiredAll">
                                                    <!--div class="inp-error">* Поле обов’язкове для заповнення</div-->
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text">
                                                    <label for="#">{{name}} *</label>
                                                    <input type="text" name="firstname" class="inp-style" placeholder="{{name_placeholder}}" data-validate="required,name,requiredAll">
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text">
                                                    <label for="#">{{patronymic}} *</label>
                                                    <input type="text" name="secondname" class="inp-style" placeholder="{{patronymic_placeholder}}" data-validate="required,patronymic,requiredAll">
                                                </div>
                                                <!--.inp-group-->
                                                <div class="inp-group inp-group-text">
                                                    <label for="#">{{E_Mail}} *</label>
                                                    <input type="text" name="email" class="inp-style" placeholder="{{E_Mail_placeholder}}" data-validate="required,email,requiredAll">
                                                </div>


                                                
                                                
                                                <div class="inp-group phone-inp-group">
                                                    <div class="inp-group__small-col">
                                                        <label for="#">{{phone_code_title}}</label>
                                                        <select name="phone_code" id="phone_code" class="inp-decorate">
                                                            {{#each phone_code}}
                                                            <option value="{{title}}">{{title}}</option>

                                                            {{/each}}
                                                            <option value="other">Другой</option>
                                                        </select>

                                                        <input id="phone_code_input" type="text" name="phone_code_input"
                                                               class="inp-style" data-validate="required,phone_code" style="width: 36px; display: none;">
                                                        <label id="phone_code_input_label" for="phone_code_input" style="width: 36px; display: none;">x</label>
                                                    </div>

                                                    <div class="inp-group__large-col">
                                                        <label for="#">{{phone}} *</label>
                                                        <input id="phone" type="text" name="phone"
                                                               class="inp-style" placeholder="{{phone_placeholder}}" data-validate="required,phone_part,requiredAll">
                                                    </div>
                                                </div>
                                                <!--.inp-group-->
                                            <div class="bt cf">

                                                <!--.inp-group-min-->
                                                <div class="inp-group-min">
                                                    <label for="#"><input type="checkbox" name="check_data" class="inp-decorate" checked data-validate="agreement,requiredAll">
														<a href="http://m.renault.ua/uk/privacy-policy" target="_blank">{{consent}} *</a>
													</label>
                                                </div>
                                                <!--.inp-group-min-->
                                                <!--div class="inp-submit">
                                                    <input type="submit" value="Відправити" class="orange-submit">
                                                </div-->
                                            </div>
                                            <!--.bt-->
                                            </div>
                                            <!--.all_forms-->
                                        </div>
                                        <!--.contacts_page-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <input type="hidden" name="check_datas" id="check_datas" disabled="disabled">
					
					<div class="submit-form">
                        <button class="submit-form-button" id="subscribe-submit" type="submit">відправити</button>
                    </div>
					
					
                </form>
            </div>
            <div class="contactUs">
            </div>

		</div>
    </div>
</div>

<script>
    // Style input+select
    if ($('.inp-decorate').length) {
        $('.inp-decorate').styler();
    }
    //$(".submit-form-button").attr('disabled','disabled');
    //$(".submit-form-button").addClass('btn-disabled');
    $( "#phone_code" ).change(function() {
        $val = $( this ).val();
        if($val == 'other'){
            $( "#phone_code").parent().hide();
            $("#phone_code_input").show();
            $("#phone_code_input_label").show();
        }
    });

    $("#phone_code_input_label").on('click', function(){
        $( "#phone_code").find('option').first().attr('selected');
        $( "#phone_code").parent().show();
        $("#phone_code_input").hide();
        $("#phone_code_input_label").hide();

    });

console.log(app.config);
    $.verify({
		
		if($('#check_datas').attr('disabled') == 'disabled'){
            alert('все не очень то и ок');   
        } else {
            alert('ок, все просто ок');
        }
		
        beforeSubmit: function (form, result) {
            if (result === true) {
                window.testDriveData['firstname'] = $('.contacts_page input[name="firstname"]').val();
                window.testDriveData['secondname'] = $('.contacts_page input[name="secondname"]').val();
                window.testDriveData['lastname'] = $('.contacts_page input[name="lastname"]').val();
                window.testDriveData['email'] = $('.contacts_page input[name="email"]').val();
                window.testDriveData['phone'] = $('.contacts_page input[name="phone"]').val();



                var e = document.getElementById("phone_code");
                var strUser = e.options[e.selectedIndex].value;
                if(strUser == 'other'){
                    window.testDriveData['code'] = $("#phone_code_input").val();
                    window.testDriveData['code_select'] = 'key';
                    window.testDriveData['phone'] = window.testDriveData['code'] + $('.contacts_page input[name="phone"]').val();
                } else {
                    window.testDriveData['code'] = '';
                    window.testDriveData['code_select'] = strUser;
                    window.testDriveData['phone'] = strUser + $('.contacts_page input[name="phone"]').val();
                }




                app.logger.var(window.testDriveData);
		
                /*$.post(app.config.frontend_app_api_url + '/db/subscribes/create', window.testDriveData, function (resp) {
                    if(resp.id !== undefined && resp.id !== ''){
                        app.changePageAjax(app.view.helper.preffix + '/subscribes-thank-you');
                    } else {
                        alert ('server error');
                    }
                });*/
            }
        }
    });
    $('#subscribe-submit').click(function () {





    });


</script>
<style>

    .notifyjs-arrow{
        top: 42px;
        left: 10px;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 206, 0);
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: transparent;
        border-right-width: 5px;
        border-right-style: solid;
        border-right-color: transparent;

    }
    .notifyjs-wrapper {
        z-index: 1;
        position: absolute;
        display: inline-block;
        height: 0;
        width: 0;
    }
    .notifyjs-bootstrap-error {
        color: #383838;
        background-color: #FFCE00;
        border-color: #FFCE00;
        background-image: none;
    }
</style>
