<div class="select_eng">


    <div class="select_eng__head">
        <h3>{{title}}</h3>


        <ul id="list" class="list-unstyled select_eng__hide">
            {{#each items}}
            <li id="list-{{counter @index}}"><a href="#">{{name}}</a></li>
            {{/each}}
        </ul>

    </div>
    <!--.select_eng__head-->
    {{#each items}}
    <div class="select_eng__body" id="engine-body-{{counter @index}}">
        <div class="title cf">{{name}}</div>
        <div class="img">
            <img src="{{image}}" alt="{{alt}}">
        </div>
        <div class="txt">
            <p>{{{text}}}</p>
        </div>
    </div>
    {{/each}}
</div><!--.select_eng-->

<script>
    $(document).ready(function () {
        var list = $('.select_eng__head li');
        list.first().addClass("select_eng__active");
        var length = list.length;
        $(list).each(function (index, el) {
            var element = $(el);
            var child = $(el).children('a');
            element.click(function () {
                element.parent().removeClass('select_eng__hide');
                element.parent().addClass('select_eng_show');
                element.removeClass('select_eng__active');
                if(element.parent().hasClass('select_eng_show')){
                    list.removeClass("select_eng__active");
                    list.eq(index).addClass("select_eng__active");
                }
                console.log(index);
            })




        });
    });

    //        $('.select_eng__head .select_eng__active').click(function(){
    //            $(this).removeClass('select_eng__active');
    //            $(this).parent().addClass('select_eng__show');
    //            alert($('#select_eng__body').attr("id"));
    //        });
    //
    //        $('.select_eng__head li a').click(function(){
    //            alert($(this).attr("id"));
    //            $(this).parent().parent().removeClass('select_eng__show');
    //            $(this).parent().addClass('select_eng__active');
    //        });

</script>
<style>
    .select_eng__hide > li{
        display: none;
    }
    .select_eng__show > li{
        display: block !important;
    }
</style>
