<div class="select_eng">

    <script>
        $(document).ready(function(){
            $('.select_eng__head .select_eng__active').click(function(){
                $(this).removeClass('select_eng__active');
                $(this).parent().addClass('select_eng__show');
            });

            $('.select_eng__head li a').click(function(){
                $(this).parent().parent().removeClass('select_eng__show');
                $(this).parent().addClass('select_eng__active');
            });
        });
    </script>



    <div class="select_eng__head">
        <h3>{{title}}</h3>


        <ul class="list-unstyled">
            {{#each items}}
            <li data-id="{{counter @index}}"><a href="#">{{name}}</a></li>
            {{/each}}
            <li class="select_eng__active"><a href="javascript:void(0);">НОВЫЙ ТУРБОДИЗЕЛЬ 1.5DCI 109 Л. С.</a></li>
            <li><a href="javascript:void(0);">НОВЫЙ БЕНЗИНОВЫЙ ДВИГАТЕЛЬ 1.6 (114 Л. С.)</a></li>
            <li><a href="javascript:void(0);">БЕНЗИНОВЫЙ ДВИГАТЕЛЬ 2.0 (143 Л. С.)</a></li>
        </ul>

    </div><!--.select_eng__head-->
{{#each items}}
    <div class="select_eng__body" data-id="{{counter @index}}">
        <div class="title cf">{{name}}</div>
        <div class="img">
            <img src="{{image}}" alt="{{alt}}">
        </div>
        <div class="txt">
            <p>{{{text}}}</p>
        </div>
    </div>
{{/each}}
</div><!--.select_eng-->