
<noscript>

    <div class="disabled-page">
        <div class="disabled-content">
            <img src="/img/js.png" alt="">
            <h2>У вашому браузері<br>відключено Javascript</h2>
            <p>Для того щоб переглядати сайт включіть, будь ласка,
            підтримку Javacript – <a href="http://www.enable-javascript.com/ru/"><span>Як увімкнути Javascript в браузері</span></a>.
            Якщо у вас немає можливості змінювати налаштування
            браузеру, то перейдіть на <a href="http://www.renault.ua/"><span>основний сайт</span></a>.</p>
        </div>
    </div>

</noscript>