{{#each items}}
<a href="{{viewUrl}}" class="ajaxLink">
    <div class="col-md-5 col-md-offset-1 project-box {{dataFilterCategories}}">
        <div class="projects_box__item">
            <div class="projects_box__thumb">
                <img src="{{previewImg}}" alt="#">
            </div>

            <div class="projects_box__txt">
                <span>{{categoryTitles}}</span>
                <h4>{{title}}</h4>
                <p>{{description}}</p>
            </div>
        </div>

    </div>	
</a>
{{/each}}

<script>
    // Cases show/hide description
    if ($('.projects_box__txt p').length) {
        $('.projects_box__item').hover(function () {
            $(this).find('.projects_box__txt p').slideToggle(250);
        });
    }
</script>
