<div class="freeEditorialParsys parsys freeEditorial">

    <div class="columns column columns12bleed section">

        <div class="grid-row bleed">

            <div class="col-12">

                <div class="parsys col1-par">

                    <div class="parbase actionPanel section">

                        <div>

                            <div class="grid-row">

                                <div class="single_post">

                                    <div class="txt">
                                        {{{text}}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

