<!-- TODO: move styles to one file -->
<!--<link rel="stylesheet" media="screen" href="/html/style.css">-->

<div class="grid-row bleed">
    <div class="col-12">
        <div class="editorialInPageNavigation">
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="col-12">
        <div class="pageHeader">
        </div>
    </div>
</div>
<div class="freeEditorialParsys parsys freeEditorial"><div class="contentZone section">
        <div class="content-zone container c_002"  data-c_002-collapse-enabled="true" data-c_002-collapsed-text="Show more options" data-c_002-expanded-text="Show less options" data-c_002-collapse-from-index="1">
            <div class="title">
            </div>
            <div class="parsys columns"><div class="columns12 columns column section">
                    <div class="grid-row">
                        <div class="col-12">
                            <div class="parsys col1-par"><div class="section find-a-dealer">
                                    <div class="c_040" data-dealer-search-url="/content/renault/en_GB/index/find-a-dealer/jcr:content/freeEditorial/contentzone_8974/columns/columns12_9b88/col1-par/find_a_dealer_b2f3.extended_dealers_by_location.json"
                                         data-dealer-search-basic-url="/content/renault/en_GB/index/find-a-dealer/jcr:content/freeEditorial/contentzone_8974/columns/columns12_9b88/col1-par/find_a_dealer_b2f3.basic_dealers_by_location.json"
                                         data-dealer-list-url="/content/renault/en_GB/index/find-a-dealer/jcr:content/freeEditorial/contentzone_8974/columns/columns12_9b88/col1-par/find_a_dealer_b2f3.extended_dealers_by_location.json"
                                         data-dealer-detail-url="/content/renault/en_GB/index/find-a-dealer/jcr:content/freeEditorial/contentzone_8974/columns/columns12_9b88/col1-par/find_a_dealer_b2f3.extendeddealer.json"
                                         data-my-account-url="/my-account.html">
                                        <form class="c_040-form" action="javascript:void(0);" method="GET">
                                            <div class="grid-row">
                                                <div class="col-12">
                                                    <h2><span>{{t.find_a_dealer}}</span></h2>
                                                    <fieldset>
                                                        <div class="c_152-0">
                                                            <span class="location-fields">
                                                                <input type="text"
                                                                       title="{{t.Enter_your_location}}"
                                                                       placeholder="{{t.placeholder}}"
                                                                       class="location-input"
                                                                       name="location"
                                                                       value=""
                                                                       id="find-a-dealer-map-input-search"
                                                                       data-no-results-text="We can&#x27;t find any dealers in your area. Please contact a member of our Customer Relations team." />
                                                                <input type="hidden" name="page" value="1" />
                                                                <input type="hidden" name="size" value="6" />
                                                                <input aria-invalid="false" value="utf-8" name="_charset_" id="_charset_" type="hidden">
                                                                <button type="submit" data-adobe-tagging="L.dealerSearch" class="btn-search">Search</button>
                                                                <!--<button type="button" class="btn-geolocate"
                                                                        data-text="Current location">
                                                                    Current location
                                                                </button>        -->                                                  
                                                            </span>
                                                            <input type="hidden" name="latlong" class="location-value" disabled />
                                                        </div>
                                                    </fieldset>                                                    
                                                </div>
                                            </div>
                                            <div class="filter">
                                                <div class="filter-results" style="z-index: 2; position: relative;">
                                                    <hr />
                                                    <div class="btn-filter closed">
                                                        <button type="button" data-adobe-tagging="B.dealerAdvancedFilter" id="find-a-dealer-filter-toggle-button">{{t.search_by_service}}</button>
                                                    </div>
                                                    <div class="dropdown">
                                                        <div class="grid-row">
                                                            <div class="col-12">
                                                                <div class="filter-results-group">
                                                                    <h3><span>Dealer Services</span></h3>
                                                                    <p class="stitle">Which service do you require&#x3f;</p>
                                                                    <input type="hidden" name="dealer-services" value="" />
                                                                    <ul>
                                                                        <li><button type="button" data-dealer-services="dealer_service_c2d2">New Vehicle Sales</button></li>
                                                                        <li><button type="button" data-dealer-services="dealer_service_a3c3">Electric Vehicle Sales</button></li>
                                                                        <li><button type="button" data-dealer-services="dealer_service_ef68">Servicing</button></li>
                                                                        <li><button class="btn-reset" type="button">Reset</button></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="fd_box hidden">
                    <div class="fd_box__title">
                        <h3>{{t.change_service}}</h3>
                    </div><!--.fd_box__title-->   
                    <div class="fd_box__list">
                        <div class="fd_box__item " data-filter=".data-filter-salon" id="find-a-dealer-filter-salon"><div class="ico ico1"></div><span id="find-a-dealer-filter-salon-title">{{t.salon}}</span></div>
                        <div class="fd_box__item" data-filter=".data-filter-service" id="find-a-dealer-filter-service"><div class="ico ico2"></div><span id="find-a-dealer-filter-service-title">{{{t.Service_and_sales_of_spare_parts}}}</span></div>
                        <div class="fd_box__item" data-filter=".data-filter-pro"  id="find-a-dealer-filter-pro"><div class="ico ico3"></div><span id="find-a-dealer-filter-pro-title">{{{t.Dealers_Renault_PRO}}}</span></div>
                    </div><!--.fd_box__list-->
                    <div class="fd_box__selected">
                        <h4 style="display:none;">{{t.your_change}}</h4>
                        <div class="fd_box__selected-items" style="display:none;">
                            <ul class="list-unstyled">
                                <li ><span id="find-a-dealer-filter-selected">*</span> <div class="del" id="find-a-dealer-filter-selected-del" style="display:none;">x</div></li>
                            </ul>
                        </div><!--.fd_box__selected-items-->
                        <div class="fd_box__selected-refresh" id="find-a-dealer-filter-selected-refresh">{{t.refresh}}</div>
                    </div><!--.fd_box__selected-->
                </div><!--.fd_box-->
            </div><!--.col-lg-12-->
        </div><!--.row-->
        <div class="row">
            <div class="col-md-4">
                <div class="tdealer_top">
                    {{t.this_is_all_dilear}}
                </div>
            </div><!--.col-->
            <div class="col-md-8">
                <div class="tdealer_tabs">
                    <ul class="list-unstyled" role="tablist">
                        <li role="presentation" class="ico-map active"><a href="#map" aria-controls="map" role="tab" data-toggle="tab" id="map-tab-a">{{t.map}}</a></li>
                        <li role="presentation" class="ico-maplist"><a href="#maplist" aria-controls="maplist" role="tab" data-toggle="tab" id="maplist-tab-a">{{t.list}}</a></li>
                    </ul>
                </div><!--.tdealer_tabs-->
            </div><!--.col-->
        </div><!--.row-->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="map">
                <div class="tdealer_map">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mapresult" id="mapresult" style="width: 100%; height: 390px;"></div>
                        </div><!--.col-->
                    </div><!--.row-->
                    <div class="row" id="find-a-dealer-selected-dealer-block-message">
                        <div class="col-md-3 col-md-offset-5">{{t.Select_dealer_on_the_map}}</div>

                    </div>
                    <div class="row" id="find-a-dealer-selected-dealer-block" style="display:none;">                        
                        <div class="col-md-3">
                            <div class="fdealer_item__head">                                
                            </div>
                            <div class="fdealer_item__body">
                                <div class="btns">
                                    <a href="javascript:void(0);" target=“_blank” class="orange-submit orange-submit-arr go-to-map">{{t.Google_GPS}}</a>
                                    <!--a href="javascript:void(0);"  target=“_blank” class="orange-submit orange-submit-arr go-to-map">Показати на карті</a-->
                                </div>
                            </div><!--.fdealer_item__body-->
                        </div><!--.col-md-3-->
                        <div class="col-md-3">
                            <div class="fdealer_item__body">     
                                <h4>{{t.Contact_Information}}</h4>
                                <p><span class="town"></span><br><span class="street">
                                    </span></p>
                                <h4 class="salon-title" style="display:none;">{{t.salon}}</h4>
                                <p class="salon-phone"></p>
                                <h4 class="service-title" style="display:none;">{{t.stations}}</h4>
                                <p class="service-phone"></p>
                            </div><!--.fdealer_item__body-->
                        </div><!--.col-md-3-->
                        <div class="col-md-3">
                            <div class="fdealer_item__service">
                                <h4>{{t.Available_services}}</h4>
                                <ul class="list-unstyled">
                                    <li class="ico-fdealer1 services-icon-salon" style="display:none;"><span>{{t.salon}}</span></li>
                                    <li class="ico-fdealer2 services-icon-service" style="display:none;"><span>{{{t.Service_and_sales_of_spare_parts}}}</span></li>
                                    <li class="ico-fdealer3 services-icon-pro" style="display:none;"><span>{{{t.Dealers_Renault_PRO}}}</span></li>
                                    <!--li class="ico-fdealer4"><span>Зв’язатися<br> с дилером</span></li-->
                                </ul>
                            </div><!--.fdealer_item__service-->
                        </div><!--.col-md-3-->
                        <div class="col-md-3">
                            <div class="fdealer_item__links">
                                <h4>{{t.hyperlinks}}</h4>
                                <!--<a href="javascript:void(0);" target=“_blank” class="orange-submit orange-submit-arr salon-service-promo-link">{{t.Promotions}}</a>-->
                                <a href="javascript:void(0);" target=“_blank” class="orange-submit orange-submit-arr salon-service-url-link" >{{t.web_site}}</a>
                            </div><!--.fdealer_item__links-->
                        </div><!--.col-md-3-->
                    </div><!--.row-->
                </div>
            </div><!--#map-->
            <div role="tabpanel" class="tab-pane fade" id="maplist">
                {{#each dealers}}
                {{#if firstInRow}}                
                <div class="row">
                    {{/if}}
                    <div class="col-md-4 {{dataFilter}}"> 
                        <div class="fdealer_item">
                            <div class="fdealer_item__head">
                                {{title}}
                            </div><!--.fdealer_item__head-->
                            <div class="fdealer_item__body">
                                <h4>{{../t.Contact_Information}}</h4>
                                <p>{{town}}<br>
                                    {{street}}</p>
                                {{#if salon_phone}}
                                <h4>{{t.salon}}</h4>
                                <p>{{salon_phone}}</p>
                                {{/if}}
                                {{#if service_phone}}
                                <h4>{{../t.stations}}</h4>
                                <p>{{service_phone}}</p>
                                {{/if}}
                                <div class="btns">
                                    <a href="{{gpsUrl}}" target=“_blank” class="orange-submit orange-submit-arr">{{../t.Google_GPS}}</a>
                                    <!--<a href="javascript:void(0);" class="orange-submit orange-submit-arr go-to-local-gps_coords" map-center="{{gps_coords}}">{{../t.Show_on_map}}</a>-->
                                </div>
                            </div><!--.fdealer_item__body-->
                            <div class="fdealer_item__more">
                                <div class="fdealer_item__service">
                                    <h4>{{../t.Available_services}}</h4>
                                    <ul class="list-unstyled">
                                        {{#if salon_id}}
                                        <li class="ico-fdealer1"><span>{{../../t.salon}}</span></li>
                                        {{/if}}
                                        {{#if service_id}}
                                        <li class="ico-fdealer2"><span>{{{../../t.Service_and_sales_of_spare_parts}}}</span></li>
                                        {{/if}}
                                        {{#if dealers_pro}}
                                        <li class="ico-fdealer3"><span>{{{../../t.Dealers_Renault_PRO}}}</span></li>
                                        {{/if}}                                        
                                    </ul>
                                </div><!--.fdealer_item__service-->
                                <div class="fdealer_item__links">
                                    <h4>{{../t.hyperlinks}}</h4>
                                    <!--<a href="#" class="orange-submit orange-submit-arr">{{../t.Promotions}}</a>-->
                                    <a href="{{websiteUrl}}" class="orange-submit orange-submit-arr">{{../t.web_site}}</a>
                                </div><!--.fdealer_item__links-->
                            </div><!--.fdealer_item__more-->
                            <div class="fdealer_item__bt">
                                <div class="fdealer_item__more-btn">
                                    <span>{{../t.Read_more}}</span>
                                </div>
                            </div><!--.fdealer_item__bt-->
                        </div><!--.fdealer_item-->
                    </div><!--.col-md-4-->    
                    {{#if lastInRow}}                
                </div><!--.row-->
                {{/if}}
                {{/each}}


            </div>
        </div>
    </div><!--.container-->


    <script type="text/javascript">
        $(document).ready(function () {
            $('.fd_box__item').click(function () {
                $('.fd_box__item').removeClass('fd_box__item--active');
                $(this).addClass('fd_box__item--active');
            });
        });

        $(document).ready(function () {
            $('.fdealer_item__more-btn').click(function () {
                var c_txt = $(this).find('span')
				$parent=$(this).parents('.fdealer_item');
                $(this).parents('.fdealer_item').toggleClass('fdealer_item--active');
				
				
                $(this).parents('.fdealer_item').find('.fdealer_item__more').slideToggle(250);
				
				console.log($parent.outerHeight(),$parent.find('.fdealer_item__more').outerHeight());
				
				if($parent.hasClass('fdealer_item--active'))
					$parent.css({'height':$parent.outerHeight()+$parent.find('.fdealer_item__service').outerHeight()+$parent.find('.fdealer_item__links').outerHeight()});
				else
					$parent.css({'height':$parent.outerHeight()-$parent.find('.fdealer_item__service').outerHeight()-$parent.find('.fdealer_item__links').outerHeight()});
				
				$('#maplist').isotope();
				
                c_txt.text(c_txt.text() == 'Детальніше' ? 'Згорнути' : 'Детальніше');
            });
        });

		
		
        // bind filter button click
        $('#find-a-dealer-filter-salon').on('click', function () {
            app.view.$grid = getIsotope();

            var filterValue = $(this).attr('data-filter');

            if (!$.isEmptyObject(app.view.mapFilterValue)) {
                filterValue = filterValue + app.view.mapFilterValue;
            }

            // use filterFn if matches value            
            app.view.$grid.isotope({filter: filterValue});
        });

        // bind filter button click
        $('#find-a-dealer-filter-service').on('click', function () {
            app.view.$grid = getIsotope();

            var filterValue = $(this).attr('data-filter');

            if (!$.isEmptyObject(app.view.mapFilterValue)) {
                filterValue = filterValue + app.view.mapFilterValue;
            }

            // use filterFn if matches value            
            app.view.$grid.isotope({filter: filterValue});
        });

        // bind filter button click
        $('#find-a-dealer-filter-pro').on('click', function () {
            app.view.$grid = getIsotope();
            var filterValue = $(this).attr('data-filter');

            if (!$.isEmptyObject(app.view.mapFilterValue)) {
                filterValue = filterValue + app.view.mapFilterValue;
            }

            // use filterFn if matches value            
            app.view.$grid.isotope({filter: filterValue});
        });

        function getIsotope() {
            return $('#maplist').isotope({
                itemSelector: '.col-md-4',
                layoutMode: 'fitRows'
            });
        }

        $('#maplist-tab-a').on('click', function () {
            setTimeout(function () {
                app.view.$grid = getIsotope();
                var filterValue = '*';

                if (!$.isEmptyObject(app.view.mapFilterValue)) {
                    filterValue = app.view.mapFilterValue;
                }

                // use filterFn if matches value            
                app.view.$grid.isotope({filter: filterValue});
            }, 200);
        });
        
        $('#find-a-dealer-filter-toggle-button').on('click', function () {
          $('.fd_box').toggleClass('hidden');  
        });
        //#find-a-dealer-filter-toggle-button
        //.fd_box
        
        
    </script>   
