<div class="intro_box">
    <h3>{{header}}</h3>
    <p>{{text}}</p>
</div>


<style>
    /* Intro box */
    .intro_box {
        max-width: 700px;
        margin: 0 auto 50px auto;

        text-align: center;
    }

    .intro_box h3 {
        margin: 0 0 15px 0;

        font: normal 55px/100% "renault_lifelight", Arial;
        color: #000;
    }

    .intro_box p {
        font: normal 24px/140% "renault_lifelight", Arial;
        color: #000;
    }

    @media (max-width: 992px) {
        .intro_box {
            margin-right: 20px;
            margin-left: 20px;
        }

        .intro_box h3 {
            font-size: 40px;
        }

        .intro_box p {
            font-size: 18px;
        }
    }

</style>