<div class="content-wrap">        
    <a href="{{previousUrl}}" class="go-back ajaxLink">{{go_back}}</a>

    <div class="visible-xs"></div>

    <div class="share-box" id="go-back-share-box">
        <div class="fb-share">
            <a href="{{facebookHref}}"></a>
            <span>0</span>
        </div>
        <div class="twitter-share">
            <a href="{{twitterHref}}"></a>
            <span>0</span>
        </div>
    </div>

    <div class="spacer-115"></div>
</div>

<script>
    $('#go-back-share-box .fb-share a').click(function () {
        var social_box = $(this).parent('div');

        FB.ui({
            method: 'share',
            href: location.href,
        }, function (response) {
            if (response && !response.error_code) {
                app.logger.text('Post was published.');
                app.logger.var(response);

                var count = parseInt($('span', social_box).text());
                if (!isNaN(count)) {
                    count = count + 1;
                    $('span', social_box).text(count);
                }
            } else {
                app.logger.text('Post was not published.');
                app.logger.var(response);
            }
        });

        return false;
    });


    //Once twttr is ready, bind a callback function to the tweet event
    twttr.ready(function (twttr) {
        twttr.events.bind('tweet', function (event) {
            app.logger.text('twttr event tweet');                        

            // увеличиваем значение счетчика социалки на 1
            var span = $('#go-back-share-box .twitter-share span');
                    
            var count = parseInt(span.text());
            if (!isNaN(count)) {
                count = count + 1;
                span.text(count);
            }
        });
    });    

    $(document).ready(function () {
       $.getJSON('http://graph.facebook.com/fql?q=SELECT url, total_count FROM link_stat WHERE url="' + urlencode(location.href)+ '"' , function (data) {
            // вставляем в DOM
            app.logger.text('facebook data');
            app.logger.var(data);            
            
            $('#go-back-share-box .fb-share span').text(data.data[0].total_count);
        });

        $.getJSON('http://urls.api.twitter.com/1/urls/count.json?url=' + urlencode(location.href) + '&callback=?', function (data) {
            app.logger.text('twitter data');
            app.logger.var(data);
            // вставляем в DOM
            $('#go-back-share-box .twitter-share span').text(data.count);
        });
    });

</script>