body > .header .logo {
  font-family: inherit;
}
body > .header .navbar .nav > li > a > .badge {
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 75%;
}
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  background: none;
  color: inherit;
}
body .user-panel > .info {
  padding-left: 10px;
}

body {
    font-family: Tahoma;
}

.site-request-password-reset {
    margin: 20px;
}

.site-reset-password {
    margin: 20px;
}

/* LOGIN PAGE */
/* ============================== */

.fullscreen-background {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
}

.fullscreen-background > img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: auto;
  user-select: none;
}

.login-box-body,
.register-box-body {
  background: rgba(255, 255, 255, .8);
}

.login-box-body-heading {
  font-size: 24px;
  margin: 10px 0px;
}

.login-button,
.login-button:active {
  border: none;
  color: #333;
  background-color: #fc3;
}

.login-button:active {
  color: #333 !important;
  background-color: #fc3 !important;
  box-shadow: none !important;
}

.login-button:hover,
.login-button:focus {
  color: #333;
  background-color: #fd3;
}

/* CORP. STYLING */
/* ============================== */

/* Header */

.skin-yellow .main-header .logo {
  background-color: #f0c030;
}

.skin-yellow .main-header .logo:hover {
  background-color: #ecbc2c;
}

.skin-yellow .main-header .navbar {
  background-color: #fc3;
}

.skin-yellow .main-header .navbar .sidebar-toggle:hover {
  background-color: #f0c030;
}

/* Sidebar */

.skin-yellow .sidebar-menu > li > a {
  color: #fff;
}

.skin-yellow .sidebar-menu > li:hover > a,
.skin-yellow .sidebar-menu > li.active > a {
  background-color: #fc3;
  color: #000;
  border-left-color: transparent;
}

/* Buttons */

.skin-yellow .btn-default {
  background-color: #333;
  color: #fff;
  border: none;
}

.skin-yellow .btn-default:hover,
.skin-yellow .btn-default:active,
.skin-yellow .btn-default.hover {
    color: #fc3;
}

/* Pagination */

.skin-yellow .pagination > li > a,
.skin-yellow .pagination > li > span {
  background: #333;
  color: #fff;
  border: none;
  z-index: 1 !important;
}

.skin-yellow .pagination > li > a:hover,
.skin-yellow .pagination > li > span:hover,
.skin-yellow .pagination > li > a:focus,
.skin-yellow .pagination > li > span:focus {
  color: #fc3;
  border: none;
}

.skin-yellow .pagination > .active > a,
.skin-yellow .pagination > .active > span,
.skin-yellow .pagination > .active > a:hover,
.skin-yellow .pagination > .active > span:hover,
.skin-yellow .pagination > .active > a:focus,
.skin-yellow .pagination > .active > span:focus {
  background: #fc3;
  color: #000;
}

.skin-yellow .pagination > .disabled > span,
.skin-yellow .pagination > .disabled > span:hover,
.skin-yellow .pagination > .disabled > span:focus,
.skin-yellow .pagination > .disabled > a,
.skin-yellow .pagination > .disabled > a:hover,
.skin-yellow .pagination > .disabled > a:focus {
  background: #333;
  color: #fff;
  border: none;
}

/* Table Header */

.skin-yellow .table > caption + thead > tr:first-child > th,
.skin-yellow .table > colgroup + thead > tr:first-child > th,
.skin-yellow .table > thead:first-child > tr:first-child > th,
.skin-yellow .table > caption + thead > tr:first-child > td,
.skin-yellow .table > colgroup + thead > tr:first-child > td,
.skin-yellow .table > thead:first-child > tr:first-child > td {
  background-color: #333;
  border-top: 1px solid;
  border-color: #333;
}

.skin-yellow .table > caption + thead > tr:first-child > th > a,
.skin-yellow .table > colgroup + thead > tr:first-child > th > a,
.skin-yellow .table > thead:first-child > tr:first-child > th > a,
.skin-yellow .table > caption + thead > tr:first-child > td > a,
.skin-yellow .table > colgroup + thead > tr:first-child > td > a,
.skin-yellow .table > thead:first-child > tr:first-child > td > a {
  color: #fff;
}

.skin-yellow .table > caption + thead > tr:first-child > th > a:hover,
.skin-yellow .table > caption + thead > tr:first-child > th > a:focus,
.skin-yellow .table > colgroup + thead > tr:first-child > th > a:hover,
.skin-yellow .table > colgroup + thead > tr:first-child > th > a:focus,
.skin-yellow .table > thead:first-child > tr:first-child > th > a:hover,
.skin-yellow .table > thead:first-child > tr:first-child > th > a:focus,
.skin-yellow .table > caption + thead > tr:first-child > td > a:hover,
.skin-yellow .table > caption + thead > tr:first-child > td > a:focus,
.skin-yellow .table > colgroup + thead > tr:first-child > td > a:hover,
.skin-yellow .table > colgroup + thead > tr:first-child > td > a:focus,
.skin-yellow .table > thead:first-child > tr:first-child > td > a:hover,
.skin-yellow .table > thead:first-child > tr:first-child > td > a:focus {
  color: #fc3;
}
