<div class="grid-row">
  <div class="col-12">
    <div class="widget-hidden-container">
      <div class="widget-hidden-inner">
        <div class="widget-hidden-tab">
          <div class="widget-hidden-header">
            {{header}}
          </div>
          <div class="widget-hidden-content">
          {{{text}}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<script>
  $('.widget-hidden-header').click(function(){
    var tab = $(this).parent('.widget-hidden-tab');
    console.log(tab.parent().parent().parent().parent().parent());
    if(tab.hasClass('opened')) {
      tab.removeClass('opened').find('.widget-hidden-content').slideUp(500);
    }
    else 
    {
      tab.addClass('opened').find('.widget-hidden-content').slideDown(500);
      tab.siblings('.widget-hidden-tab').removeClass('opened').find('.widget-hidden-content').slideUp(500);
    }
  });
</script>




