
<div class="smalltxt">
    <h3>{{title}}</h3>
    <p>{{text}}</p>
</div>


<style>
    /* Small txt */
    .smalltxt {
        max-width: 1170px;
        margin: 0 auto 50px auto;
    }

    .smalltxt h3 {
        margin: 0 0 15px 0;

        font: normal 21px/130% "renault_lifelight", Arial;
        color: #000;
        text-transform: uppercase;
    }

    .smalltxt p {
        font: normal 12px/140% "renault_liferegular", Arial;
        color: #666;
    }

    @media (max-width: 1170px) {
        .smalltxt {
            margin-right: 20px;
            margin-left: 20px;
        }
    }


</style>