<div class="freeEditorialParsys parsys freeEditorial main-article-list-container">
    <div class="contentZone section">
        <div class="content-zone container c_002" data-c_002-collapse-enabled="true" data-c_002-collapsed-text="Show more options" data-c_002-expanded-text="Show less options" data-c_002-collapse-from-index="1">
            <div class="title">
            </div>
            <div class="parsys columns"><div class="columns12 columns column section">
                    <div class="grid-row">
                        <div class="col-12">
                            <div class="parsys col1-par">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c_063-0">
                    &nbsp;
                </div>
                <div class="columns column columns444 section">
                    <div class="c_063-0" style="margin-bottom: -45px;">
                        <div class="heading-group">
                            <h2>{{title}}</h2>
                        </div>
                    </div>
                    <div class="grid-row">
                        {{#each items}}
                        <div class="col-4 stretch">
                            <div class="parsys col1-par">
                                <div class="contentPromotion image imageContentPromotion section">
                                    <div class="c_027 grid-row highlight-line" data-adobe-target-id="">
                                        <div>
                                            <figure>
                                                <span class="picture-element" data-alt="">                                                    
                                                    <a href="{{viewUrl}}"><img alt="" src="{{previewImg}}"/></a>
                                                </span>
                                            </figure>
                                        </div>
                                        <div>
                                            <div class="heading-group">
                                                <h4><span>{{description}}</span></h4>
                                                <h3><a href="{{viewUrl}}"><span>{{title}}</span></a></h3>
                                            </div>
                                            <div class="content-group">
                                                <a href="{{viewUrl}}" class="ajaxLink">{{../read_more}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}


                        <div class="cf"></div>

                        <div class="main_social_box__bt cf">
                            <div class="main_social_box__more">                                
                                <a href="{{urlToNews}}" class="ajaxLink"><span>{{all_news_text}}</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c_063-0">
                    &nbsp;
                </div>

                <div class="columns column columns12bleed section">
                    <div class="grid-row bleed">
                        <div class="col-12">
                            <div class="parsys col1-par">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
