<div class="freeEditorialParsys parsys freeEditorial">
    <div class="contentZone section">
        <div class="content-zone container c_002" data-c_002-collapse-enabled="true" data-c_002-collapsed-text="Show more options" data-c_002-expanded-text="Show less options" data-c_002-collapse-from-index="1">
            <div class="title">
            </div>
            <div class="parsys columns">
                <div class="columns column columns12bleed section">
                    <div class="columns column columns12bleed section">
                        <div class="grid-row bleed">
                            <div class="col-12">
                                <div class="parsys col1-par">
                                    <div class="parbase parbase-bg actionPanel section">
                                        <div class="c_063-0" data-adobe-target-id="">
                                            <div class="grid-row">
                                                <div class="heading-group">
                                                    <h2>{{i_want_to_text}}</h2>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <a href="{{urlSite}}{{twoPartUrlToBookATestDrive}}" >
                                                            <span class="icon icon-test-drive"></span>
                                                            <span class="label">{{{book_a_test_drive_text}}}</span>
                                                        </a>
                                                    </li>
                                                    <!--<li>
                                                        <a href="{{urlToLoadBooking}}{{twoPartUrlToLoadBooking}}" target="_blank">
                                                            <span class="icon icon-services"></span>
                                                            <span class="label">{{{load_booking_text}}}</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="{{urlSite}}{{twoPartUrlToBrochures}}"  target="_blank">
                                                            <span class="icon icon-brochure"></span>
                                                            <span class="label">{{{load_price_list}}}</span>
                                                        </a>
                                                    </li>-->


                                                    <li>
                                                        <a href="{{urlSite}}{{twoPartUrlToFindADealer}}" >
                                                            <span class="icon icon-dealer"></span>
                                                            <span class="label">{{{contact_with_dealer_text}}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <span class="c_029-1">

                                                <span class="picture-element" data-alt="">

                                                    <span data-src="https://www.cdn.renault.com/content/dam/Renault/UK/brand-and-editorial/Homepage/light-grey-background.jpg.ximg.s_12_m.smart.jpg" data-media="(min-width: 1.0em)" data-density="1"></span>

                                                    <span data-src="https://www.cdn.renault.com/content/dam/Renault/UK/brand-and-editorial/Homepage/light-grey-background.jpg.ximg.s_12_h.smart.jpg" data-media="(min-width: 1.0em)" data-density="2"></span>

                                                    <span data-src="https://www.cdn.renault.com/content/dam/Renault/UK/brand-and-editorial/Homepage/light-grey-background.jpg.ximg.m_12_m.smart.jpg" data-media="(min-width: 36.3125em)" data-density="1"></span>

                                                    <span data-src="https://www.cdn.renault.com/content/dam/Renault/UK/brand-and-editorial/Homepage/light-grey-background.jpg.ximg.m_12_h.smart.jpg" data-media="(min-width: 36.3125em)" data-density="2"></span>

                                                    <span data-src="https://www.cdn.renault.com/content/dam/Renault/UK/brand-and-editorial/Homepage/light-grey-background.jpg.ximg.l_full_m.smart.jpg" data-media="(min-width: 60.0em)" data-density="1"></span>

                                                    <span data-src="https://www.cdn.renault.com/content/dam/Renault/UK/brand-and-editorial/Homepage/light-grey-background.jpg.ximg.l_full_h.smart.jpg" data-media="(min-width: 60.0em)" data-density="2"></span>

                                                    <noscript>
                                                        &lt;img alt="" src="https://www.cdn.renault.com/content/dam/Renault/UK/brand-and-editorial/Homepage/light-grey-background.jpg.ximg.l_full_m.smart.jpg"/&gt;
                                                    </noscript>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>