<div class="auto_sel_slider">

    <script type="text/javascript">
        $(document).ready(function () {

            $('.auto_sel_slider__eng-select select').on('change', function () {
                $(this).parent().find('p').text(this.selectedOptions[0].text);


                console.log(this.selectedOptions[0].index);

            });
        });
    </script>

    <h2>{{model}}</h2>

    <ul class="slides">
        {{#each items}}
        <li>
            <div class="auto_sel_slider__item">

                <div class="auto_sel_slider__info">

                    <h2>{{title}}</h2>

                    <p>{{cost}}</p>
                    <span class="nc">{{../t.start_cost}}</span>

                    {{#if link_title}}{{#if link_href}}
                    <a href="{{link_href}}" class="main_slider__info-more">{{link_title}}</a>
                    {{/if}}{{/if}}

                    <div class="auto_sel_slider__eng">
                        <label for="#">{{../t.engine}}</label>

                        <div class="auto_sel_slider__eng-select">

                            <p>2.0 л. 4x4 АКП 4</p>

                            <select name="#">
                                {{#each engine}}
                                <option>{{title_eng}}</option>
                                {{/each}}

                            </select><!--.auto_sel_slider__eng-select-->
                        </div>
                    </div>
                    <!--.auto_sel_slider__eng-->

                    <div class="auto_sel_slider__spec">
                        {{#each engine}}
                        <ul class="list-unstyled">

                            <li>
                                <p><span>{{power}}</span> л.с.</p>
                                <span class="icon"><img src="/img/ico-eng-1.png" alt="#"></span>
                                <span class="name">Мощность</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>1598</span> смз</p>
                                <span class="icon"><img src="/img/ico-eng-2.png" alt="#"></span>
                                <span class="name">Объем двигателя</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>7,4</span> л/100 км</p>
                                <span class="icon"><img src="/img/ico-eng-3.png" alt="#"></span>
                                <span class="name">Расход топлива - смешанный цикл</span>
                                <span class="help"></span>
                            </li>
                        </ul>
                        {{/each}}
                    </div>

                    <!--.auto_sel_slider__spec-->


                </div>
                <!--.auto_sel_slider__info-->

                <div class="auto_sel_slider__img">
                    <img src="/img/new-duster.png" alt="">
                </div>
                <!--.auto_sel_slider__img-->

            </div>
            <!--.auto_sel_slider__item-->
        </li>
{{/each}}
        <li>
            <div class="auto_sel_slider__item">

                <div class="auto_sel_slider__info">

                    <h2>Authentique 2</h2>

                    <p>599 000 руб.</p>
                    <span class="nc">Начальная цена</span>

                    <a href="#" class="main_slider__info-more">Рассчитать кредит</a>

                    <div class="auto_sel_slider__eng">
                        <label for="#">Двигатель</label>

                        <div class="auto_sel_slider__eng-select">

                            <p>2.0 л. 4x4 АКП 4</p>

                            <select name="#">
                                <option>2.0 л. 4x4 АКП 4</option>
                                <option>2.0 л. 4x4 МКП 6</option>
                                <option>1.5 dCi 4x4 МКП 6</option>
                                <option>1.6 л. 4x4 МКП 6</option>
                            </select><!--.auto_sel_slider__eng-select-->
                        </div>
                    </div>
                    <!--.auto_sel_slider__eng-->

                    <div class="auto_sel_slider__spec">
                        <ul class="list-unstyled">
                            <li>
                                <p><span>114</span> л.с.</p>
                                <span class="icon"><img src="/img/ico-eng-1.png" alt="#"></span>
                                <span class="name">Мощность</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>1598</span> смз</p>
                                <span class="icon"><img src="/img/ico-eng-2.png" alt="#"></span>
                                <span class="name">Объем двигателя</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>7,4</span> л/100 км</p>
                                <span class="icon"><img src="/img/ico-eng-3.png" alt="#"></span>
                                <span class="name">Расход топлива - смешанный цикл</span>
                                <span class="help"></span>
                            </li>
                        </ul>
                    </div>
                    <!--.auto_sel_slider__spec-->


                </div>
                <!--.auto_sel_slider__info-->

                <div class="auto_sel_slider__img">
                    <img src="/img/new-duster.png" alt="">
                </div>
                <!--.auto_sel_slider__img-->

            </div>
            <!--.auto_sel_slider__item-->
        </li>

        <li>
            <div class="auto_sel_slider__item">

                <div class="auto_sel_slider__info">

                    <h2>Authentique 3</h2>

                    <p>599 000 руб.</p>
                    <span class="nc">Начальная цена</span>

                    <a href="#" class="main_slider__info-more">Рассчитать кредит</a>

                    <div class="auto_sel_slider__eng">
                        <label for="#">Двигатель</label>

                        <div class="auto_sel_slider__eng-select">

                            <p>2.0 л. 4x4 АКП 4</p>

                            <select name="#">
                                <option>2.0 л. 4x4 АКП 4</option>
                                <option>2.0 л. 4x4 МКП 6</option>
                                <option>1.5 dCi 4x4 МКП 6</option>
                                <option>1.6 л. 4x4 МКП 6</option>
                            </select><!--.auto_sel_slider__eng-select-->
                        </div>
                    </div>
                    <!--.auto_sel_slider__eng-->

                    <div class="auto_sel_slider__spec">
                        <ul class="list-unstyled">
                            <li>
                                <p><span>114</span> л.с.</p>
                                <span class="icon"><img src="/img/ico-eng-1.png" alt="#"></span>
                                <span class="name">Мощность</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>1598</span> смз</p>
                                <span class="icon"><img src="/img/ico-eng-2.png" alt="#"></span>
                                <span class="name">Объем двигателя</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>7,4</span> л/100 км</p>
                                <span class="icon"><img src="/img/ico-eng-3.png" alt="#"></span>
                                <span class="name">Расход топлива - смешанный цикл</span>
                                <span class="help"></span>
                            </li>
                        </ul>
                    </div>
                    <!--.auto_sel_slider__spec-->


                </div>
                <!--.auto_sel_slider__info-->

                <div class="auto_sel_slider__img">
                    <img src="/img/new-duster.png" alt="">
                </div>
                <!--.auto_sel_slider__img-->

            </div>
            <!--.auto_sel_slider__item-->
        </li>
    </ul>
</div><!--.auto_sel_slider-->

<script type="text/javascript">
    $(document).ready(function () {
        $('.tech_box_acc__hat').click(function () {

            if (!$(this).parent().hasClass('tech_box_acc__item--active')) {
                $('.tech_box_acc__item').removeClass('tech_box_acc__item--active');
                $('.tech_box_acc__body').slideUp(250);

                $(this).parent().toggleClass('tech_box_acc__item--active');
                $(this).parent().find('.tech_box_acc__body').slideToggle(250);
            } else {
                $('.tech_box_acc__item').removeClass('tech_box_acc__item--active');
                $('.tech_box_acc__body').slideUp(250);
            }
        });
    });

</script>
<div id="tech_box__0" class="tech_box active">
    <script>
        $(document).ready(function () {
            var ul = $('#tech_box__0 .tech_box__head ul');
            var li = $('#tech_box__0 .tech_box__head ul li');
            var a = $('#tech_box__0 .tech_box__head ul li a');

            var tech_box = $('#tech_box__0 .tech_box__in');

            $('#tech_box__0 .tech_box__head ul li a').click(function () {

                if (ul.hasClass('tech_box__show')) {
                    ul.removeClass('tech_box__show');
                    $(this).parent().addClass('tech_box__active');
                    console.log($(this).parent().index());
                    if (tech_box.hasClass('active')) {
                        tech_box.removeClass('active');
                        tech_box.eq($(this).parent().index()).addClass('active');
                    }
                } else {
                    ul.addClass('tech_box__show');
                    $(li).each(function (index, el) {
                        var element = $(el);
                        if (element.hasClass('tech_box__active')) {
                            element.removeClass('tech_box__active')
                        }
                    });
                }
            });
        })

    </script>


    <div class="tech_box__head">
        <h3>Оборудование и характеристики Нового Renault DUSTER 1</h3>
        <ul class="list-unstyled">
            <li class="tech_box__active"><a href="javascript:void(0);">ОБОРУДОВАНИЕ</a></li>
            <li><a href="javascript:void(0);">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</a></li>
        </ul>
    </div>
    <!--.tech_box__head-->

    <div class="tech_box__in active cf">

        <div class="tech_box_acc">

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Дизайн об</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Безопасность</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Комфорт</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Управление</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Опционное оборудование</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

        </div>
        <!--.tech_box_acc-->

        <div class="tech_box_info">
            <h3>Authentique 1,6 4х2 МКП5</h3>

            <p>Двигатель: 1.6 л. 4x2</p>

            <div class="price">599 000 руб.</div>
            <div class="thumb">
                <img src="/img/new-duster.png" alt="#">
            </div>
            <a href="#" class="btn-cfg">Configurator</a>

        </div>
        <!--.tech_box_info-->

    </div>
    <!--.tech_box__in-->
    <div class="tech_box__in cf">

        <div class="tech_box_acc">

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Дизайн тх</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Безопасность</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Комфорт</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Управление</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Опционное оборудование</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

        </div>
        <!--.tech_box_acc-->

        <div class="tech_box_info">
            <h3>Authentique 1,6 4х2 МКП5</h3>

            <p>Двигатель: 1.6 л. 4x2</p>

            <div class="price">599 000 руб.</div>
            <div class="thumb">
                <img src="/img/new-duster.png" alt="#">
            </div>
            <a href="#" class="btn-cfg">Configurator</a>

        </div>
        <!--.tech_box_info-->

    </div>
    <!--.tech_box__in-->
</div><!--.tech_box-->

<div id="tech_box__1" class="tech_box ">

    <script>
        $(document).ready(function () {
            var a = $('#tech_box__1 .tech_box__head ul li a');
            var ul = $('#tech_box__1 .tech_box__head ul');
            var li = $('#tech_box__1 .tech_box__head ul li');

            var tech_box = $('#tech_box__1 .tech_box__in');

            $('#tech_box__1 .tech_box__head ul li a').click(function () {

                if (ul.hasClass('tech_box__show')) {
                    ul.removeClass('tech_box__show');
                    $(this).parent().addClass('tech_box__active');
                    console.log($(this).parent().index());
                    if (tech_box.hasClass('active')) {
                        tech_box.removeClass('active');
                        tech_box.eq($(this).parent().index()).addClass('active');
                    }
                } else {
                    ul.addClass('tech_box__show');
                    $(li).each(function (index, el) {
                        var element = $(el);
                        if (element.hasClass('tech_box__active')) {
                            element.removeClass('tech_box__active')
                        }
                    });
                }
            });
        });
    </script>

    <div class="tech_box__head">
        <h3>Оборудование и характеристики Нового Renault DUSTER 2</h3>
        <ul class="list-unstyled">
            <li class="tech_box__active"><a href="javascript:void(0);">ОБОРУДОВАНИЕ</a></li>
            <li><a href="javascript:void(0);">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</a></li>
        </ul>
    </div>
    <!--.tech_box__head-->

    <div class="tech_box__in active cf">

        <div class="tech_box_acc">

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Дизайн об</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Безопасность</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Комфорт</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Управление</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Опционное оборудование</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

        </div>
        <!--.tech_box_acc-->

        <div class="tech_box_info">
            <h3>Authentique 1,6 4х2 МКП5</h3>

            <p>Двигатель: 1.6 л. 4x2</p>

            <div class="price">599 000 руб.</div>
            <div class="thumb">
                <img src="/img/new-duster.png" alt="#">
            </div>
            <a href="#" class="btn-cfg">Configurator</a>

        </div>
        <!--.tech_box_info-->

    </div>
    <!--.tech_box__in-->
    <div class="tech_box__in cf">

        <div class="tech_box_acc">

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Дизайн тх</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Безопасность</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Комфорт</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Управление</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Опционное оборудование</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

        </div>
        <!--.tech_box_acc-->

        <div class="tech_box_info">
            <h3>Authentique 1,6 4х2 МКП5</h3>

            <p>Двигатель: 1.6 л. 4x2</p>

            <div class="price">599 000 руб.</div>
            <div class="thumb">
                <img src="/img/new-duster.png" alt="#">
            </div>
            <a href="#" class="btn-cfg">Configurator</a>

        </div>
        <!--.tech_box_info-->

    </div>
    <!--.tech_box__in-->
</div><!--.tech_box-->

<div id="tech_box__2" class="tech_box ">

    <script>
        $(document).ready(function () {
            var a = $('#tech_box__2 .tech_box__head ul li a');
            var ul = $('#tech_box__2 .tech_box__head ul');
            var li = $('#tech_box__2 .tech_box__head ul li');

            var tech_box = $('#tech_box__2 .tech_box__in');

            $('#tech_box__2 .tech_box__head ul li a').click(function () {

                if (ul.hasClass('tech_box__show')) {
                    ul.removeClass('tech_box__show');
                    $(this).parent().addClass('tech_box__active');
                    console.log($(this).parent().index());
                    if (tech_box.hasClass('active')) {
                        tech_box.removeClass('active');
                        tech_box.eq($(this).parent().index()).addClass('active');
                    }
                } else {
                    ul.addClass('tech_box__show');
                    $(li).each(function (index, el) {
                        var element = $(el);
                        if (element.hasClass('tech_box__active')) {
                            element.removeClass('tech_box__active')
                        }
                    });
                }
            });
        });
    </script>

    <div class="tech_box__head">
        <h3>Оборудование и характеристики Нового Renault DUSTER 3</h3>
        <ul class="list-unstyled">
            <li class="tech_box__active"><a href="javascript:void(0);">ОБОРУДОВАНИЕ</a></li>
            <li><a href="javascript:void(0);">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</a></li>
        </ul>
    </div>
    <!--.tech_box__head-->

    <div class="tech_box__in active cf">

        <div class="tech_box_acc">

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Дизайн об</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Безопасность</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Комфорт</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Управление</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Опционное оборудование</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

        </div>
        <!--.tech_box_acc-->

        <div class="tech_box_info">
            <h3>Authentique 1,6 4х2 МКП5</h3>

            <p>Двигатель: 1.6 л. 4x2</p>

            <div class="price">599 000 руб.</div>
            <div class="thumb">
                <img src="/img/new-duster.png" alt="#">
            </div>
            <a href="#" class="btn-cfg">Configurator</a>

        </div>
        <!--.tech_box_info-->

    </div>
    <!--.tech_box__in-->
    <div class="tech_box__in cf">

        <div class="tech_box_acc">

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Дизайн тх</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Безопасность</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Комфорт</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Управление</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>Опционное оборудование</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    <p><b>В базе</b></p>
                    <ul>
                        <li>Дневные ходовые огни</li>
                        <li>Ручки дверей черного цвета</li>
                        <li>Легкая тонировка стекол</li>
                        <li>Наружные зеркала черного цвета</li>
                    </ul>

                    <hr>

                    <p><b>Дополнительное оборудование</b></p>
                    <ul>
                        <li>Продольные рейлинги черного цвета<br> <b>+12 990 руб.</b></li>
                    </ul>
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->

        </div>
        <!--.tech_box_acc-->

        <div class="tech_box_info">
            <h3>Authentique 1,6 4х2 МКП5</h3>

            <p>Двигатель: 1.6 л. 4x2</p>

            <div class="price">599 000 руб.</div>
            <div class="thumb">
                <img src="/img/new-duster.png" alt="#">
            </div>
            <a href="#" class="btn-cfg">Configurator</a>

        </div>
        <!--.tech_box_info-->

    </div>
    <!--.tech_box__in-->
</div><!--.tech_box-->


<script>


    $(document).ready(function () {
        $('.auto_sel_slider__spec').eq(0).first().addClass('active');
console.log($('.auto_sel_slider__spec').eq(0).first());
console.log("$('.auto_sel_slider__spec').eq(0).first()");

        // Auto sel slider
        $('.auto_sel_slider').flexslider({
            animation: 'slide',
            controlNav: false,
            slideshow: false,
            start: function (slider) {


            },
            after: function (slider) {
                if ($('.tech_box').hasClass('active')) {
                    $('.tech_box').removeClass('active');
                    $('.tech_box').eq(slider.currentSlide).addClass('active');
                }

                $('.auto_sel_slider__eng-select select').on('change', function () {
                    $('.auto_sel_slider__spec ul').removeClass('active');
                    $('.auto_sel_slider__spec').eq(slider.currentSlide +1).children('ul').eq(this.selectedOptions[0].index).addClass('active');
//                    console.log($('.auto_sel_slider__spec').eq(slider.currentSlide +1).index);
//                    console.log( $('.auto_sel_slider__spec').eq(slider.currentSlide).children('ul').eq(this.selectedOptions[0].index));
//
//                    console.log(this.selectedOptions[0].index);

                });

                console.log(slider.currentSlide);
            }
        });


    });
</script>

<style>
    .tech_box__in, .tech_box, .auto_sel_slider__spec ul {
        display: none;
    }

    .tech_box__in.active, .tech_box.active, .auto_sel_slider__spec ul.active {
        display: block;
    }

</style>