<div class="auto_sel_slider">

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tech_box__0").addClass('active');
            $('.tech_box_info > h3').text($('.auto_sel_slider__info > h2').text());
            $('.auto_sel_slider__eng-select select').on('change', function () {
                $(this).parent().find('p').text(this.selectedOptions[0].text);
                $('.tech_box_info p span').text(this.selectedOptions[0].text);

                $('.price').text(this.selectedOptions[0].attributes[0].value);

                console.log(this.selectedOptions[0].attributes[0].value);
                if ($('.auto_sel_slider__spec ul').hasClass('active')) {
                    $('.auto_sel_slider__spec ul').removeClass('active');
                    $(this).parent().parent().parent().find('.auto_sel_slider__spec').children('ul').eq(this.selectedOptions[0].index).addClass('active');


                }
            });
        });
    </script>

    <h2>{{model}}</h2>

    <ul class="slides">
        {{#each items}}
        <li>
            <div class="auto_sel_slider__item">

                <div class="auto_sel_slider__info">

                    <h2>{{title}}</h2>

                    <p>{{cost}}</p>
                    <span class="nc">{{../t.start_cost}}</span>

                    {{#if link_title}}{{#if link_href}}
                    <a href="{{link_href}}" class="main_slider__info-more">{{link_title}}</a>
                    {{/if}}{{/if}}

                    <div class="auto_sel_slider__eng">
                        <label for="#">{{../t.engine}}</label>

                        <div class="auto_sel_slider__eng-select">

                            <p><!--не трогать--></p>

                            <select name="#">
                                {{#each engine}}
                                <option data-cost="{{cost}}">{{title_eng}}</option>
                                {{/each}}

                            </select><!--.auto_sel_slider__eng-select-->
                        </div>
                    </div>
                    <!--.auto_sel_slider__eng-->

                    <div class="auto_sel_slider__spec">
                        {{#each engine}}
                        <ul class="list-unstyled">

                            <li>
                                <p><span>{{power}}</span> л.с.</p>
                                <span class="icon"><img src="/img/ico-eng-1.png" alt="#"></span>
                                <span class="name">Мощность</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>{{volume}}</span> смз</p>
                                <span class="icon"><img src="/img/ico-eng-2.png" alt="#"></span>
                                <span class="name">Объем двигателя</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>{{consumption}}</span> л/100 км</p>
                                <span class="icon"><img src="/img/ico-eng-3.png" alt="#"></span>
                                <span class="name">Расход топлива - смешанный цикл</span>
                                <span class="help"></span>
                            </li>
                        </ul>
                        {{/each}}
                    </div>

                    <!--.auto_sel_slider__spec-->


                </div>
                <!--.auto_sel_slider__info-->

                <div class="auto_sel_slider__img">
                    <img src="{{img_src}}" alt="{{alt}}">
                </div>
                <!--.auto_sel_slider__img-->

            </div>
            <!--.auto_sel_slider__item-->
        </li>
        {{/each}}

    </ul>
</div><!--.auto_sel_slider-->

<script type="text/javascript">
    $(document).ready(function () {
        $('.tech_box_acc__hat').click(function () {

            if (!$(this).parent().hasClass('tech_box_acc__item--active')) {
                $('.tech_box_acc__item').removeClass('tech_box_acc__item--active');
                $('.tech_box_acc__body').slideUp(250);

                $(this).parent().toggleClass('tech_box_acc__item--active');
                $(this).parent().find('.tech_box_acc__body').slideToggle(250);
            } else {
                $('.tech_box_acc__item').removeClass('tech_box_acc__item--active');
                $('.tech_box_acc__body').slideUp(250);
            }
        });
    });

</script>
{{#each items}}
<div id="tech_box__{{counter0 @index}}" class="tech_box">
    <script>
        $(document).ready(function () {
            var ul = $('#tech_box__'+'{{counter0 @index}}'+' .tech_box__head ul');
            var li = $('#tech_box__'+'{{counter0 @index}}'+' .tech_box__head ul li');
            var a = $('#tech_box__'+'{{counter0 @index}}'+' .tech_box__head ul li a');

            var tech_box = $('#tech_box__'+'{{counter0 @index}}'+' .tech_box__in');

            $('#tech_box__'+'{{counter0 @index}}'+' .tech_box__head ul li a').click(function () {

                if (ul.hasClass('tech_box__show')) {
                    ul.removeClass('tech_box__show');
                    $(this).parent().addClass('tech_box__active');
                    console.log($(this).parent().index());
                    if (tech_box.hasClass('active')) {
                        tech_box.removeClass('active');
                        tech_box.eq($(this).parent().index()).addClass('active');
                    }
                } else {
                    ul.addClass('tech_box__show');
                    $(li).each(function (index, el) {
                        var element = $(el);
                        if (element.hasClass('tech_box__active')) {
                            element.removeClass('tech_box__active')
                        }
                    });
                }
            });
        })

    </script>


    <div class="tech_box__head">
        <h3>Оборудование и характеристики Нового Renault DUSTER 1 {{counter0 @index}}</h3>
        <ul class="list-unstyled">
            <li class="tech_box__active"><a href="javascript:void(0);">ОБОРУДОВАНИЕ</a></li>
            <li><a href="javascript:void(0);">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</a></li>
        </ul>
    </div>
    <!--.tech_box__head-->

    <div class="tech_box__in active cf">

        <div class="tech_box_acc">
            {{#each equipment}}
            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>{{title}}</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    {{{text}}}
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->
            {{/each}}

            <!--.tech_box_acc__item-->

        </div>
        <!--.tech_box_acc-->

        <div class="tech_box_info">
            <h3>Authentique 1,6 4х2 МКП5</h3>

            <p>Двигатель: <span></span></p>

            <div class="price">599 000 руб.</div>
            <div class="thumb">
                <img src="{{img_src}}" alt="{{alt}}">
            </div>

            <a href="#" class="btn-cfg">Configurator</a>

        </div>
        <!--.tech_box_info-->

    </div>
    <!--.tech_box__in-->
    <div class="tech_box__in cf">

        <div class="tech_box_acc">
{{#each specifications}}
            <div class="tech_box_acc__item">

                <div class="tech_box_acc__hat">
                    <h4>{{title}}</h4>

                    <div class="status"></div>
                </div>
                <!--.tech_box_acc__hat-->

                <div class="tech_box_acc__body">
                    {{{text}}}
                </div>
                <!--.tech_box_acc__body-->

            </div>
            <!--.tech_box_acc__item-->
{{/each}}


        </div>
        <!--.tech_box_acc-->

        <div class="tech_box_info">
            <h3>Authentique 1,6 4х2 МКП5</h3>

            <p>Двигатель: <span>1.6 л. 4x2</span></p>

            <div class="price">599 000 руб.</div>
            <div class="thumb">
                <img src="/img/new-duster.png" alt="#">
            </div>
            <a href="#" class="btn-cfg">Configurator</a>

        </div>
        <!--.tech_box_info-->

    </div>
    <!--.tech_box__in-->
</div><!--.tech_box-->
{{/each}}


<script>


    $(document).ready(function () {
        $('.auto_sel_slider__spec').eq(0).children('ul').eq(0).addClass('active');
        var option = $('.auto_sel_slider__eng-select select').eq(0).children('option').eq(0);

        $('.auto_sel_slider__eng-select > p').text(option.text());
        $('.tech_box_info p span').text(option.text());
        $('.price').text(option.attr('data-cost'));
        // Auto sel slider
        $('.auto_sel_slider').flexslider({
            animation: 'slide',
            controlNav: false,
            slideshow: false,
            start: function (slider) {


            },
            after: function (slider) {
                if ($('.tech_box').hasClass('active')) {
                    $('.tech_box').removeClass('active');
                    $('.tech_box').eq(slider.currentSlide).addClass('active');

                }
                var option = $('.auto_sel_slider__eng-select select').eq(slider.currentSlide +1).children('option').eq(0);

                $('.auto_sel_slider__eng-select > p').text(option.text());
                $('.tech_box_info p span').text(option.text());

                $('.price').text(option.attr('data-cost'));
                $('.tech_box_info > h3').eq(slider.currentSlide +1).text($('.auto_sel_slider__info > h2').text());
                $('.auto_sel_slider__spec ul').removeClass('active');
                $('.auto_sel_slider__spec').eq(slider.currentSlide +1 ).find('ul').eq(0).addClass('active');


            }
        });


    });
</script>

<style>
    .tech_box__in, .tech_box, .auto_sel_slider__spec ul {
        display: none;
    }

    .tech_box__in.active, .tech_box.active, .auto_sel_slider__spec ul.active {
        display: block;
    }

</style>