<div class="auto_sel_slider">

    <script type="text/javascript">
        $(document).ready(function(){
            $('.auto_sel_slider__eng-select select').on('change', function () {
                $(this).parent().find('p').text(this.selectedOptions[0].text);
            });
        });
    </script>

    <h2>Новый DUSTER</h2>

    <ul class="slides">
        <li>
            <div class="auto_sel_slider__item">

                <div class="auto_sel_slider__info">

                    <h2>Privilege</h2>
                    <p>815 990 руб.</p>
                    <span class="nc">Начальная цена</span>

                    <a href="#" class="main_slider__info-more">Рассчитать кредит</a>

                    <div class="auto_sel_slider__eng">
                        <label for="#">Двигатель</label>

                        <div class="auto_sel_slider__eng-select">

                            <p>2.0 л. 4x4 АКП 4</p>

                            <select name="#">
                                <option>2.0 л. 4x4 АКП 4</option>
                                <option>2.0 л. 4x4 МКП 6</option>
                                <option>1.5 dCi 4x4 МКП 6</option>
                                <option>1.6 л. 4x4 МКП 6</option>
                            </select><!--.auto_sel_slider__eng-select-->
                        </div>
                    </div><!--.auto_sel_slider__eng-->

                    <div class="auto_sel_slider__spec">
                        <ul class="list-unstyled">
                            <li>
                                <p><span>114</span> л.с.</p>
                                <span class="icon"><img src="images/ico-eng-1.png" alt="#"></span>
                                <span class="name">Мощность</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>1598</span> смз</p>
                                <span class="icon"><img src="images/ico-eng-2.png" alt="#"></span>
                                <span class="name">Объем двигателя</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>7,4</span> л/100 км</p>
                                <span class="icon"><img src="images/ico-eng-3.png" alt="#"></span>
                                <span class="name">Расход топлива - смешанный цикл</span>
                                <span class="help"></span>
                            </li>
                        </ul>
                    </div><!--.auto_sel_slider__spec-->


                </div><!--.auto_sel_slider__info-->

                <div class="auto_sel_slider__img">
                    <img src="images/new-duster.png" alt="">
                </div><!--.auto_sel_slider__img-->

            </div><!--.auto_sel_slider__item-->
        </li>

        <li>
            <div class="auto_sel_slider__item">

                <div class="auto_sel_slider__info">

                    <h2>Authentique</h2>
                    <p>599 000 руб.</p>
                    <span class="nc">Начальная цена</span>

                    <a href="#" class="main_slider__info-more">Рассчитать кредит</a>

                    <div class="auto_sel_slider__eng">
                        <label for="#">Двигатель</label>

                        <div class="auto_sel_slider__eng-select">

                            <p>2.0 л. 4x4 АКП 4</p>

                            <select name="#">
                                <option>2.0 л. 4x4 АКП 4</option>
                                <option>2.0 л. 4x4 МКП 6</option>
                                <option>1.5 dCi 4x4 МКП 6</option>
                                <option>1.6 л. 4x4 МКП 6</option>
                            </select><!--.auto_sel_slider__eng-select-->
                        </div>
                    </div><!--.auto_sel_slider__eng-->

                    <div class="auto_sel_slider__spec">
                        <ul class="list-unstyled">
                            <li>
                                <p><span>114</span> л.с.</p>
                                <span class="icon"><img src="images/ico-eng-1.png" alt="#"></span>
                                <span class="name">Мощность</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>1598</span> смз</p>
                                <span class="icon"><img src="images/ico-eng-2.png" alt="#"></span>
                                <span class="name">Объем двигателя</span>
                                <span class="help"></span>
                            </li>

                            <li>
                                <p><span>7,4</span> л/100 км</p>
                                <span class="icon"><img src="images/ico-eng-3.png" alt="#"></span>
                                <span class="name">Расход топлива - смешанный цикл</span>
                                <span class="help"></span>
                            </li>
                        </ul>
                    </div><!--.auto_sel_slider__spec-->


                </div><!--.auto_sel_slider__info-->

                <div class="auto_sel_slider__img">
                    <img src="images/new-duster.png" alt="">
                </div><!--.auto_sel_slider__img-->

            </div><!--.auto_sel_slider__item-->
        </li>
    </ul>
</div><!--.auto_sel_slider-->